/**
 * Activity Details Portlet CSS
 */
/*div#activity-details-left,
div#activity-details-right {
	height: 245px;
}*/
#activity-details div.ui-tabs-panel{
	max-height: 245px;
	overflow-y: auto;
	clear: both;
}
#activity-details div.ui-tabs.ui-widget .ui-button-panel{
	height: auto;
	clear: both;
}
#activity-details div.ui-tabs.ui-widget .button-container{
	float: right;
}
#activity-details div.ui-tabs.ui-widget .button-container button{
	margin-right: 8px;
}
#activity-details #homes-viewed-grid th, #activity-details #homes-saved-grid th{
	font-size: 11px;
}

#activity-details #homes-viewed-grid tr, #activity-details #homes-saved-grid tr{
	font-size: 11px;
}
/*#activity-details .homes-viewed-grid{
	max-height: 244px;
	overflow-y: auto;
}*/

#activity-details #task-grid button{
	font-size: 9px;
}