.home-details-dialog h3{
	font-size: 18px;
}
.home-details-dialog .property-container{
	float: left;
}
.home-details-dialog div.property-image{
	width: 280px;
	vertical-align: top;
	float: left;
}
.home-details-dialog div.property-info{
	width: 272px;
	float: left;
	padding-left: 20px;
}
.home-details-dialog .price{
	font-size: 16px;
	color: #3C0;
	font-weight: bold;
	margin: 5px 0;
	float: left;
}
.home-details-dialog .details{
	clear: both;
	font-size: 13px;
	font-weight: normal;
}
.home-details-dialog .dialog-form-container{
	clear: both;
	width: 100%;
}
.home-details-dialog .dialog-form-container table{
	width: 100%;
}
.home-details-dialog .dialog-form-container table th{
	width: 150px;
	text-align: right;
	padding-right: 5px;
}
.home-details-dialog hr{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.home-details-dialog .submit-button-row{
	padding: 23px 15px 15px 15px;
	text-align: center;
	position: relative;
}
.home-details-dialog .home-details-dialog-submit-button{
	text-transform: uppercase;
	font-size: 11px;
	padding-left: 18px;
	padding-right: 18px;
	cursor: pointer;
	width: 200px;
}
.home-details-dialog .home-details-dialog-loading{
	width: 32px;
	height: 32px;
	text-align: center;
	position: absolute;
	margin-left: -15px;
	top: -6px;
	left: 50%;
}
.home-details-dialog .home-details-dialog-loading.loading{
	background: url(http://cdn.seizethemarket.com/assets/images/loading.gif) no-repeat;
	opacity: 1 !important;
	position: relative;
}
.home-details-dialog .dialog-form-container table, .home-details-dialog .dialog-form-container table th, .home-details-dialog .dialog-form-container table td{
    background: none;
    border: none;
}