/**
 * Template Name: Blog
 * Author: Seize the Market
 * Date: 11/15/2012
 * Description: Blog content template.
 */
#standard-tmp div#main-photo{
	text-align: center;
}
#standard-tmp div#content{
	text-align: left;
}