#login-widget {
	float: right;
	text-align: right;
	position: relative;
}
#login-widget.guest {
	margin-top: -12px;
}
#login-widget #logout-button {
    border: none;
    background: none;
    color: #fff;
    display: block;
    font-size: 12px;
}
#login-widget a.profile {
	font-size: 10px;
	color: #370;
	margin-left: 10px;
}
#login-widget.user a.btn.gray, #login-widget.user button {
	font-size: 9px;
	padding: 0 4px;
	width: auto;
	color: #555;
}

#login-widget .form {
	position: absolute;
	top: 31px;
	right: 0px;
	border-radius: 5px;
	border: 1px solid #DCDCDC;
	background: #FFF;
	z-index: 9999;
	min-width: 322px;

	padding: 10px;
	display: none;
	-moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.7);
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.7);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.7);
	text-align: left;
	color: #555;
}

#login-widget hr {
	margin: 0 0 10px 0;
}

#login-widget h3 {
	color: #C20000;
	text-align: left;
}

#login-widget p {
	font-size: 12px;
	font-weight: normal;
}

#login-widget #close {
	color:#555;
	float:right;
	font-size: 12px;
	font-weight: bold;
	font-family: "Arial Black";
	padding: 3px 5px;
	position: relative;
	top: -3px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#login-widget #close:hover {
	color: white;
	font-size: 16px;
	background-color: #C20000;
	padding: 3px 6px;
	cursor: pointer;
}
#login-widget div.row {
	padding: 5px 5px 5px 0;
	font-size: 12px;
	margin: 0;
}
#login-widget #login-form-button, #login-widget #forgot-password-button {
	float:right;
}
#login-widget div.row label {
	width: 85px;
	display: inline-block;
}
#login-widget .link {
	color: #0069FF;
}
#login-widget .link:hover {
	color: #C20000;
	text-decoration: underline;
	cursor: pointer;
}
#login-widget .link.child {
	margin-left: 15px;
}
/*#login-widget div.row span.required {
	color: #C20000;
	font-size: 16px;
	font-weight: bold;
	margin-right: 2px;
	position: relative;
	top: 2px;
}*/
#login-widget input {
	padding: 5px 2px 5px 4px;
	font-size: 15px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
	color: #69F;
	font-weight: bold;
	width: 200px;
	border: 1px solid #BBB;
	padding: 4px 2px;
	margin: 0 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: white;
	border-color: #BBB;
}
#login-widget input.name {
	width: 96px;
}
#login-widget #login-button.selected {
	background: #FFF;
	border-bottom: 0;
	border-radius: 4px 4px 0 0;
	-webkit-box-shadow: rgba(80, 43, 0, 0.2) 0px 1px 3px 0px inset;
}

@media screen and (max-width: 1000px) {
	#login-widget.user a.btn.gray {
		padding: 4px;
		font-weight: bold;
		font-size: 16px;
	}
}

@media screen and (max-width: 660px) {
	#login-widget, #login-widget.guest {
		float: none;
		width: auto;
		margin: 10px 0;
		text-align: left;
	}
	#login-widget.user {
		margin-top: 4px;
	}
	#login-widget.user a.btn.gray {
		padding: 4px;
		margin: 4px 0;
		float: none;
		display: block;
		font-size: 16px;
		font-weight: bold;
		width: 100%;
	}
}