.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li:hover > a {
  background: #444;
}
.fadedBg {
	background-color: #FFF;
	border: 5px solid #fff;
	width: 60%;
	max-width: 970px;
	margin: 0 auto;
	/*min-height: 300px*/
}
.bannerContentContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%) !important;
	z-index: 2;
	background-color:rgba(255,255,255,0.5);
	padding:0;
}
.bannerContentContainer .nav.nav-tabs {
	margin-bottom: 0;
	border-bottom: none;
}
.bannerContentContainer .nav > li.active,
.bannerContentContainer .nav-tabs > li.active > a,
.bannerContentContainer .nav > li > a:hover,
.bannerContentContainer .nav > li > a:focus,
.bannerContentContainer .nav > li:hover > a,
.bannerContentContainer .nav-tabs > li.active > a:hover,
.bannerContentContainer .nav-tabs > li.active > a:focus,
.bannerContentContainer .nav-tabs > li:hover > a{
	background-color: #444;
	font-weight: bold;
}
.bannerContentContainer .nav-tabs li {
	width: 50%;
}
.bannerContentContainer .nav-tabs li a {
	font-weight: bold;
	width: 100%;
	font-size: 150%;
	text-align: center;
}

.bannerContentContainer .tab-content {
	background-color: #FFF;
}

.bannerContentContainer .tab-content .tab-pane {
	/*min-height: 300px;*/
	background-color: #444;
}

.bannerContentContainer .form {
	margin: 10px 0;
}

.bannerContentContainer .form input[type="text"] {
	height: 50px;
}
.bannerContentContainer .form-control {
	height: 50px;
}
#homsearch {
	position: relative;
}
.homsearchContents {
	/*position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/
}

#homePageSearchForHomesKeywordsBtn,
#homePageHouseValueBtn {
	height: 50px;
	width: 100%;
}
.homePageSearchForHomesKeywordsContainer {
	float: right;
}

@media (min-width: 1200px) {
	.form-group.col-lg-2 {
		width: 20%;
	}
}
@media (max-width: 1024px) {
	.header-version-2 .banner {
	  margin-top: 112px !important;
	}
}
@media (max-width: 991px)  {
	#homePageSearchForHomesKeywordsBtn,
	#homePageHouseValueBtn {
		height: auto;
		margin: 0;
	}
	.bannerContentContainer .form input[type="text"] {
		height: auto;
		margin: 0;
	}
	.bannerContentContainer .form-control {
		height: auto;
		margin: 0;
	}
	.form-group {
		margin-bottom: 5px;
	}
	.bannerContentContainer .fadedBg {
		min-width: 347px;
	}
}
@media (max-width: 815px)  {
	.fadedBg {
		min-height: 1px;
	}
}
@media (max-width: 807px) {
	.bannerContentContainer .fadedBg{
		/*max-width: 50%;*/
	}
}
@media (max-width: 791px) {
	.header-version-2 .banner, .full-container, .slider-content, .slider-v2, .slider-v2 img {
		min-height: 352px;
	}
	.header-version-2 .banner {
		
		overflow: visible;
	}
	.bannerContentContainer {
		position: absolute;
		top: 0;
		left: 0;
		transform: none;
	}
}
@media (max-width: 767px) {
	.header-version-2 .banner {
		margin-top: 136px !important;
	}
	.navbar-top .navbar-brand {
		/*display: none;*/
	}
	.bannerContentContainer .nav-tabs li a {
		font-size: 100%;
	}
}
@media (max-width: 650px) {
	.nav-tabs li a {
		/*padding: 10px 5px;*/
	}
	.bannerContentContainer .fadedBg {
		max-width: 100%;
	}
	
}