#recent-saved-homes-widget .ui-tabs-panel{
	min-height: 160px;
	position: relative;
	background: whiteSmoke;
	border: 1px solid #DDD;
    padding-top: 6px !important;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#recent-saved-homes-widget .caroufredsel_wrapper {
    width: 668px !important;
}
#recent-saved-homes-widget .mini-carousel div.image {
    float: left;
    margin:10px 0 0 10px;
    position: relative;
}
#recent-saved-homes-widget .mini-carousel span {
    padding-left: 0;
}
#recent-saved-homes-widget .mini-carousel img {
    float: left;
    width: 145px;
    height: 107px;
}
#recent-saved-homes-widget .mini-carousel a.carousel {
    padding: 4px;
    background-color: white;
    float: left;
    border: 1px solid #ccc;
}
#recent-saved-homes-widget .mini-carousel a.carousel:hover {
    background-color: #C20000;
}
#recent-saved-homes-widget .mini-carousel img:hover {
    background: #C20000 !important;
}
#recent-saved-homes-widget .mini-carousel .photo-count {
    position: absolute;
    left: 5px;
    top: 88px;
    background: rgb(15, 192, 0);
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 0 6px 0 6px;
    border: solid 1px #CCC;
}
#recent-saved-homes-widget .mini-carousel label {
    font-weight: bold;
    font-size: 12px;
    color: #555;
    clear: both;
    float: left;
    width: 155px;
    text-align: center;
}
#recent-saved-homes-widget .mini-carousel label .price {
    font-size: 16px;
}
#recent-saved-homes-widget .jcarousel-skin-pika{
    width: 940px;
}
#recent-saved-homes-widget .next {
    float: right;
    margin: 71px 10px 0 0;
    width: 13px;
    height: 20px;
    background: url('http://cdn.seizethemarket.com/assets/images/gui-next.png')
}

#recent-saved-homes-widget .prev {
    float: left;
    margin: 71px 8px 0 10px;
    width: 13px;
    height: 20px;
    background: url('http://cdn.seizethemarket.com/assets/images/gui-prev.png')
}