/*@media (min-width: 1300px) {*/
    /*.container {*/
        /*width: 1000px;*/
    /*}*/
/*}*/

@media (max-width: 767px){
    .megamenu-content ul li a, .megamenu-content ul li p, .megamenu-content ul li, .navbar-nav .dropdown a, .navbar-nav .dropdown {
        color: #666 !important;
    }
}
.navbar-toggle .icon-bar {
    border: 2px solid #666;
}
.navbar-toggle .menu {
    color: #666;
}
.navbar-top {
    background: white;
}
.navbar-top .navbar-brand {
    margin-top: 0;
    padding-top: 0;
}
.navbar-tshop {
    background: white;
}

.navbar-nav > li > a {
    color: #666;
}
.nav .home-page {
    display: none;
}
/*.nav .home-page img {*/
    /*display: none;*/
/*}*/
/*.nav .home-page a {*/
    /*background-image: url("http://cdn.seizethemarket.com/assets/images/home_icon.png");*/
/*}*/
.navbar-tshop {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 4px;
}
.megamenu .collapse {
    margin-bottom: 0;
}
@media (max-width: 400px) {
    .navbar-brand img {
        max-width: 240px;
    }
}
.search-box.static-search .form-control {
    border: solid 1px #eee;
}
.userMenu li a {
    color: #666;
}
.bannerContentContainer {
    /*display: none;*/
}
.nav .cartRespons {
    line-height: 24px !important;
    font-size: 14px !important;
}
.nav .cartMenu a.dropdown-toggle {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    padding-left: 10px !important;
    padding-right: 0 !important;
    color: #666 !important;
}
/*FRONT CTA*/
#homePageSearchForHomesKeywordsBtn, #homePageHouseValueBtn {
    background: #00ACE4;
}
#homePageSearchForHomesKeywordsBtn:hover, #homePageHouseValueBtn:hover {
    background: #25AD29;
}
#login-widget {
    text-align: center;
}
#login-widget .user {
    color: #666;
}
.navbar-nav > li.my-account a .circle {
    top: 10px;
}
/*HOUSE VALUES*/
.form-box.house-values {
    background: #EEE;
}
.btn-primary, .btn-primary {
    padding: 11px 12px;
}