
::selection {
    color: #fff;
    background: #c0392b;
}

::-moz-selection {
    color: #fff;
    background: #c0392b;
}

::-webkit-selection {
    color: #fff;
    background: #c0392b;
}
a {
    color: #333;
}
a:hover,
a:focus, a.link {
    color: #C20000;
    text-decoration: underline;
}

.search-full, .search-input {
    background: #c0392b;
}

.search-close {
    color: #c0392b;
}

.btn-primary, .btn-primary {
    background-color: #888;
    color: #FFFFFF;
}

.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background: #D20000;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #C20000;
    border-color: #C20000;
    color: #FFFFFF;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #25ad29;
    border-color: #C20000;
}
.navbar-fixed-top {
    border: 0;
}
.navbar-top {
    margin-bottom: 6px;
    padding: 4px;
    font-size: 15px;
}

.navbar-top.dark {
    background: #eee;
    padding-left: 15px;
    padding-right: 30px;
}
.navbar-top.dark a{
    text-decoration: none;
}

.navbar-tshop {
    background: white;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.navbar-header {
    padding-left: 15px;
}
.productFilter a{
    color: #888;
}
.pagination > li > a, .pagination > li > span {
    color: #666;
}

.site-color {
    color: #e74c3c !important;
}

.navbar-nav > li > a {
    line-height: 24px;
}

.nav > li > a:focus {
    background: white;
}
.nav > li.active, .nav > li > a:hover { /*, , .nav > li:hover > a*/
    /*background: #666;*/
    /*color: white;*/
}
.nav > li > a, .nav > li > a:hover, .nav > li > a:focus, .cartMenu:hover > a.dropdown-toggle {
    color: #666;
    background: white;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: #666;
    color: white !important;
}
/*.navbar-nav > li > .dropdown-menu {*/
    /*margin-top: -5px;*/
/*}*/

.dropdown-menu {
    border-top: 1px solid #666;
}

.search-box:hover .form-control {
    background: #e74c3c;
}

.search-box:hover .btn-nobg {
    color: #e74c3c;
}

.searchInputBox .search-btn {
    color: #fff;
}

.mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #D20000 !important;
}

.action-control a:hover, .action-control a.active {
    color: #fff;
    background: #30BF00;
}

.subCategoryList .thumbnail:hover {
    border: 1px solid #e74c3c;
}

.pager2 a {
    border: 1px solid #e74c3c;
}

.pager2 a.selected {
    background: #e74c3c;
}

.btn-site, .newsLatterBox .btn {
    background: #e74c3c;
}

.btn-discover:hover, .btn-site:hover, .newsLatterBox .btn:hover {
    background: #c0392b;
}

.full {
    width: 100%;
}

.footer a:hover {
    color: #fff;
    background-color: #BB0000; /*STM Addition*/
    padding-left: 8px; /*STM Addition*/
}

/*STM Addition*/
.footer .social li a:hover {
    color: #fff;
    background-color: transparent;
    padding-left: 0;
}
/*STM Addition*/
.footer .social li:hover {
    border: 2px solid #D20000;
    background: #D20000;
}

.footer {
    /*border-top: solid 3px #e74c3c;*/
}

.modal-header {
    background: #e74c3c;
}

.form-control:focus {
    border: solid 2px #888;
}

.new-product {
    background: rgba(231, 76, 60, 0.95) !important;
}

#pager a.cycle-pager-active {
    background: rgba(231, 76, 60, 0.5);
}

/* tree menu */

.nav.tree > li.active, .nav.tree > li > a:hover, .nav.tree > li > a:focus, .nav.tree > li:hover > a {
    background: none;
    color: #2c3e50;
}

.nav.tree .open-tree > a, .nav.tree .open-tree > a:hover, .nav.tree .open-tree > a:focus {
    background: none;
    font-weight: bold;
    color: #2c3e50;
}

.panel-default > .panel-heading {
    border-top: 4px solid #C20000;
}

/*clear button on search nav*/
.label-danger {
    background-color: #D20000;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li:hover > a {
    background: #BFC9CA;
}

.nav-tabs {
    border-bottom: 3px solid #BFC9CA;
}

.socialIcon a:hover {
    background: #e74c3c;
}

.cart-actions button, .cart-actions .wishlist {
    background: none repeat scroll 0 0 #e74c3c;
    border: 2px solid #c0392b;
}

.cart-actions button:hover {
    background: #fff;
    color: #2c3e50;
    border: solid 2px #e74c3c;
}

.sp-thumbs a:hover, .sp-thumbs a:active, .sp-current, sp-current:visited {
    border: 2px solid #e74c3c !important;
}

.promo-1 {
    background: none repeat scroll 0 0 #666;
}

@media (max-width: 767px) {
    .miniCartFooter {
        background: #c0392b !important;
    }
}

#pager2 span.cycle-pager-active {
}

#pager2 span.cycle-pager-active {
    background: #c0392b !important;
}

#pager2 span {
    border: 2px solid #c0392b
}

.orderStep li.active a {
    background: #e74c3c;
}

.orderStep li.active a:after {
    border-top-color: #e74c3c !important;
}

.orderStep li a {
    background: #2c88c5;
}

darkcoilor {
    background: #2c88c5;
}

citecolor {
    color: #e74c3c !important;
}

/************************************************************************************************************/
/*                                           STM Additions  */
/************************************************************************************************************/

/*********** Menu button Mobile ***********/
.navbar-toggle .menu {
    color: white;
}

/*********** Home Tile Tags ***********/
.row .discount {
    background: #35C231; /*Green color*/
}

/*********** Logo Padding ***********/
.navbar-brand {
    padding: 0;
    margin-left: 0 !important
}

.navbar-brand > img {
    max-height: 52px;
}
.nav.navbar-nav {
    float: right;
}
/*********** Universal Search Bar ************/
.nav.navbar-nav.navbar-left .search-box {
    float: left;
    margin-top: 2px;
}
.navbar-top .nav.navbar-nav,
.nav.navbar-nav .search-box,
.nav.navbar-nav .search-box .input-group,
.navbar-top .search-box.static-search .form-control {
    width: 100%;
}
.nav.navbar-nav .search-box .input-group {
    max-width: none;
}
.navbar-top .search-box.static-search .form-control {
    font-size: 18px;
    font-weight: normal;
    height: 40px;
    max-width: none; /* Override smaller media sizes*/
}
.nav.navbar-nav .search-box .input-group .btn {
    font-size: 20px; /*Search magnifying glass icon*/
}
@media (min-width: 1024px){
    .nav.navbar-nav > li > a{
        font-size: 16px;
        padding: 15px 25px;
        font-weight: 600;
    }
}
@media (max-width: 980px) {
    .navbar-brand > img {
        max-height: 45px;
        min-width: 135px;
    }
}
@media (max-width: 800px) {
    .navbar {
        min-height: inherit;
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .navbar-top .navbar-brand {
        margin-top: 38px;
    }
    .navbar-header {
        padding-left: 10px;
    }
}
@media (max-width: 360px) {
    .navbar-header {
        padding-left: 0;
    }
}
/*********** ./Universal Search Bar ************/


@media (max-width: 1024px){
    ul.userMenu li a {
        font-size: 10px;
    }
    ul.userMenu li.phone-number a{
        font-size: 14px;
    }
}
@media (min-width: 1368px) {
    .container {
        width: 1300px;
    }
}
@media (max-width: 1368px) {
    .container {
        width: 95%;
    }
}
input.error, select.error, textarea.error, div.error input, div.error select, div.error textarea, span.error input, span.error select, span.error textarea, .error .chzn-single {
    color: #000;
    background: #FFB8B8;
    border: 1px solid #FF5757;
}
div.errorMessage {
    display: inline-block;
}
div.errorMessage {
    clear: both;
    color: #FF5757;
    font-weight: bold;
    font-size: 11px;
}
form span.required {
    padding: 0 4px;
    font-size: 10px;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-image: url('http://cdn.seizethemarket.com/assets/images/required.png');
}
#logout label, #login label, #myaccount-content label, #search label, #forgot-password-container label {
    width: 100px;
    display: inline-block;
    text-align: right;
    font-weight: bold;
}
#logout #login-container, #login #login-container, #forgot-password-container {
    background: whiteSmoke;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border: 1px solid #DDD;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 20px 20px 30px 20px;
    min-width: 325px;
    max-width: 500px;
    margin: 40px auto;
}
#logout form, #login form {
    text-align: center;
}
section#column1 h1 {
    font-size: 20px;
}
#logout h1, #login h1, h1.green {
    color: #5BA71B;
    text-align: center;
}
form:last-child {
    margin-bottom: 0;
}
#logout .row.submit, #login .row.submit, #forgot-password-container .row.submit {
    /*height: 25px;
    text-align: left;
    position: relative;
    left: 113px;*/
}
#logout input, #login input, #myaccount-content input, #forgot-password-container input {
    font-size: 20px;
    /*margin-bottom: 10px;*/
    width: 300px;
}
#logout form input, #login form input, #forgot-password-container form input {
    width: 300px;
}
@media (min-width: 768px) {
    #login label {
        width: 300px;
        display: block;
        text-align: left;
        margin: 0 auto;
    }
}
#login .row.submit #login-form-button {
    width: 300px;
}
#login .row.submit #forgot-password, #forgot-password-form #forgotpassword-form-button {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#forgot-password-container form input {
    margin-bottom: 0;
}
#forgot-password-form .errorMessage {
    display: block;
}
#login .row.submit #forgot-password{
    text-align: right;
}
#forgot-password-form #forgotpassword-form-button {
    margin-top: 10px;
}
#login-widget .favorite-icon-container {
    position: relative;
}
#login-widget .favorite-icon-container .fa {
    font-size: 26px;
}
#login-widget .favorite-icon-container .fa, .favorite-icon-container .saved-count{
    position: absolute;
}
#login-widget .favorite-icon-container .saved-count{
    color: #666;
    width: 26px;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 14px;
    top: -3px;
}
.menuWrap {
    border: none;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

.productFilter {
    border-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
}
.categoryFooter {
    margin-top: 0;
}
.product .add-fav.active {
    color: #C20000;
    border-color: transparent;
}
.product:hover .add-fav.active {
    color: #C20000;
    width: 36px;
    height: 36px;
}
.product:hover .add-fav.active i {
    font-size: 24px;
    top: 6px;
}
.item .address {
    font-size: 18px;
    font-weight: 600;
    padding-left: 14px;
    text-align: left;
    padding-top: 30px;
    min-height: 51px;
}
.item.list-view .address {
    padding-top: 40px;
}
.item .neighborhood {
    text-align: left;
    padding-left: 14px;
    padding-top: 5px;
    height: 90px;
}
/*
* Real Estate Stats for Featured Areas
*/
.re-stats-container {
    margin-bottom: 35px;
}
.re-stats-col {
    float: left;
}
.re-stats-col, .re-stats-col .re-stats-label, .re-stats-col .data {
    color: #666;
    font-size: 16px;
    font-weight: normal;
}
.re-stats-col .re-stats-label {
    /*display: inline-block;*/
    text-align: left;
    font-weight: 300;
}
.re-stats-col .data {
    /*display: inline-block;*/
}
div.re-stats-row {
    padding: 5px 0;
    border-top: 1px solid #ddd;
}
div.re-stats-row:nth-child(odd) {
    background: #efefef;
}
div.re-stats-row:last-child {
    border-bottom: 1px solid #ddd;
}
.re-easy-search-container {
    margin-bottom: 35px;
}
.re-easy-search-container div {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    color: #666;
    border-top: 1px solid #ddd;
}
@media (min-width: 1200px) {
    .re-easy-search-container .col-lg-4 {
        width: 33.33333333%;
    }
}
@media (max-width: 992px) {
    .hide-small {
        display: none;
    }
}

#mls-disclosure {
    color: #666;
    font-size: 11px;
    line-height: 1.3;
}