/**
 * Template Name: Standard
 * Author: Seize the Market
 * Date: 10/18/2012
 * Description: Standard content template.
 */

#standard-tmp div#main-photo{
	text-align: center;
}
#standard-tmp div#content{
	text-align: left;
}