#featured-area-widget {
    font-family: Arial;
    width: 100%;
    margin: 10px 0;
}
#featured-area-widget div{
    padding: 4px;
    padding-left: 16px;
}
#featured-area-widget .title{
    background-color: #7DD439 !important;
    font-weight: bold;
    font-size: 16px;
    padding-top:6px;
    padding-bottom:6px;
}
#featured-area-widget .title{
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    -moz-border-radius-topright:4px;
    -moz-border-radius-topleft:4px;
}
#featured-area-widget div.item a{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #0066FF;
}
#featured-area-widget div.item:nth-child(even) {
    background: #EEEEEE;
}
#featured-area-widget div.item:nth-child(odd) {
    background: #CFFBBF;
}
#featured-area-widget div.item{
    color: #0066FF;
}
#featured-area-widget div.item:hover{
    background: #ffa5a0;
}

#featured-area-widget div.item:hover > a{
    font-size: 16px;
    text-decoration: underline;
    color: black;
}
/*#featured-area-widget div.item a:hover{*/
    /*background: #ffa5a0;*/
/*}*/
#featured-area-widget .category-container{
    padding: 5px 0;
}