/*@import '/assets/20a843c1/style.icons.css';*/
/*----------------------------------------------------------------------*/
/* Reset
/*----------------------------------------------------------------------*/

* {
    /*box-sizing: content-box !important;*/
}

html, body, div, span, applet, object, iframe, input, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-style: inherit;
    /*font-size: 100%;*/
    font-size: 13px;
    font-family: inherit;
    vertical-align: baseline;
}

* {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*----------------------------------------------------------------------*/
/* Font Declaration
/*----------------------------------------------------------------------*/

html, textarea, input, input[type=submit], button, a.btn, span, div.alert p, header {
    font-family: arial, sans-serif !important;
    /*Verdana, Tahoma, Arial, Helvetica, sans-serif, 'Comic Sans MS'*/
}

code, pre {
    font-family: "Courier New", Courier, monospace;
}

blockquote {
    font-family: Georgia, "Times New Roman", Times, serif;
}
/**/
code tab {
    padding-left: 20px;
}

/*----------------------------------------------------------------------*/
/* General Section
/*----------------------------------------------------------------------*/

html, body, textarea, input {
    -webkit-text-size-adjust: none;
    color: #555;
}

html {
    /*THEME*/
    background-color: #999;
    background-repeat: repeat-x;
    background-size: 100% 900px;
    background-image: -moz-linear-gradient(top, #444444 0%, #999999 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #444444), color-stop(100%, #999999));
    background-image: -webkit-linear-gradient(top, #444444 0%, #999999 100%);
    background-image: -o-linear-gradient(top, #444444 0%, #999999 100%);
    background-image: -ms-linear-gradient(top, #444444 0%, #999999 100%);
    background-image: linear-gradient(to bottom, #444444 0%, #999999 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#999999', GradientType=0);
}

body.no-scroll {
    overflow-y: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

a, a:hover, a:visited, a:link {
    color: #3f3f3f;
}

::-moz-selection {
    text-shadow: none;
}

::selection {
    text-shadow: none;
}

header, footer, nav, section {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: bold;
    color: #777777;
}

h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    line-height: 26px;
}

h3 {
    font-size: 16px;
    line-height: 24px;
}

h4 {
    font-size: 14px;
    line-height: 22px;
}

h5 {
    font-size: 12px;
    line-height: 22px;
}

h6 {
    font-size: 10px;
    line-height: 20px;
}

h1 span {
    font-size: 14px;
    line-height: 14px;
}

h2 span {
    font-size: 12px;
    line-height: 12px;
}

h3 span {
    font-size: 10px;
    line-height: 10px;
}

p, ul, ol, pre {
    margin-bottom: 18px;
    line-height: 18px;
    font-size: 12px;
}

p {
    margin-bottom: 1px;
}

blockquote {
    font-size: 16px;
    font-style: italic;
    border-left: 5px solid;
    padding: 0 18px;
    margin: 36px;
    border-color: #999999;
    color: #999999;
}

li {
    margin-left: 18px;
}

hr {
    display: block;
    height: 0px;
    line-height: 0px;
    border: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: 16px 0;
    margin-top: 3px;
    float: none;
    clear: both;
    padding: 0;
    /*THEME*/
    border-top-color: #e1e1e1;
    border-bottom-color: #ffffff;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

img {
    border: 0;
}

.strong {
    font-weight: bold;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.small {
    font-size: 10px;
}

::-moz-selection {
    background: #B20000;
    color: #ffffff;
    text-shadow: none;
}

::selection {
    background: #B20000;
    color: #ffffff;
    text-shadow: none;
}

.loading-container {
    display: none;
    /*width: 32px;*/
    /*height: 32px;*/
    /*text-align: center;*/
    /*position: absolute;*/
    /*margin-left: -15px;*/
    /*top: -6px;*/
    /*left: 50%;*/
}

.loading-container.loading {
    display: block;
    position: fixed;
    background-color: #FFFFFF;
    background: white;
    background-image: none;
    opacity: .9;
    filter: Alpha(Opacity=90);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000 !important;
}

.loading-container.loading em {
    display: block;
    background: url(http://cdn.seizethemarket.com/assets/images/loading3.gif) no-repeat;
    opacity: 1 !important;
    position: relative;
    top: 38%;
    margin-left: auto;
    margin-right: auto;
    height: 256px;
    width: 256px;
}

.grid-view-loading, .list-view-loading {
    margin-top: -10px !important;
    opacity: 1 !important;
}
.chzn-results {
    color: #555 !important;
}
.chzn-container-multi .chzn-choices .search-field input, .chzn-container-single .chzn-single, .chzn-container-multi .chzn-choices .search-field .default {
    height: 27px;
}

/*----------------------------------------------------------------------*/
/* Tables
/*----------------------------------------------------------------------*/

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 3px;
    float: left;
}

table td, table th {
    border: 1px solid;
    padding: 6px 3px;
    text-align: left;
    vertical-align: middle;
    border-color: #dddddd #e7e7e7 #dddddd #e7e7e7;
}

table thead tr, table tfoot tr, table th {
}

table th,
table th label {
    font-weight: 700;
    text-shadow: 0 -1px 0 #ffffff;
}

div.chart .legend table {
    border: 0;
    width: auto;
}

div.chart {
    max-width: 100%;
    margin-top: 4px;
}

div.chart .legend table td {
    vertical-align: middle;
    text-align: center;
    color: #333;
}

div.chart .legend table td.legendColorBox {
    opacity: 0.9;
    filter: Alpha(opacity=90);
}

table.documentation {
}

table.documentation th, table.documentation td {
    text-align: left;
}
/*.grid-view table.datatables td:not(:last-child), .grid-view table.datatables th:not(:last-child) {*/
    /*border-right-color: transparent;*/
/*}*/
/*.grid-view table.datatables td:not(:first-child), .grid-view table.datatables th:not(:first-child) {*/
    /*border-left-color: transparent;*/
/*}*/
.grid-view table.datatables td, .grid-view table.datatables th {
    border-right-color: transparent;
    border-left-color: transparent;
}

/*----------------------------------------------------------------------*/
/* Header
/*----------------------------------------------------------------------*/
header {
    position: relative;
    -webkit-box-shadow: #CCCCCC 0 0 10px;
    -moz-box-shadow: #CCCCCC 0 0 10px;
    box-shadow: #CCCCCC 0 0 10px;
}

.search-form {
    margin-top: 30px;
}

.search-form label {

}

#logo {
    border: 0;
    background: url(http://cdn.seizethemarket.com/assets/images/logo.png) left center no-repeat;
    /*THEME*/
    -webkit-box-shadow: 3px 0 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 0 4px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 0 4px rgba(0, 0, 0, 0.1);
    -pie-background: linear-gradient(#cb040b, #9b0a10);
    float: left;
    height: 60px;
    padding: 0;
    color: #ffffff;
    background-position: 10px 5px;
    background: #F9F9F9;
    text-align: center;
    vertical-align: middle;
}

#logo img {
    position: relative;
    max-width: 190px;
    height: 60px;
}
#main-nav-container{
    clear: both;
}
/*----------------------------------------------------------------------*/
/* Content
/*----------------------------------------------------------------------*/
#content {
    width: 100% !important;
    border: 0;
    margin: 0;
    min-height: 600px;
    overflow: visible;
    right: 0px;
    top: 0px;
    z-index: 1;
    position: relative;
    padding: 0 !important;
    background-color: #FBFBFB;
}
#content-container {
    position: relative;
    padding: 10px;
}
#content h1, #content .subtitle {
    text-align: center;
    width: 100%;
    line-height: 20px;
    margin-bottom: 10px;
}

#content h1 span {
    font-size: 12px;
}

#content h1.transactions span.address {
    display: block;
    padding-top: 10px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #38D100;
}

#content h1.closings span.address {
    display: block;
    padding-top: 10px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #F5A700;
}

/*----------------------------------------------------------------------*/
/* Clear Floats
/*----------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/*----------------------------------------------------------------------*/
/* Layout
/*----------------------------------------------------------------------*/

footer {
    width: 100% !important;
    padding: 5px;
    margin: 0 !important;
    text-align: right;
    color: #fff;
    background: #B20000;
}

footer p {
    margin-top: 2px;
    margin-right: 20px;
    margin-left: 20px;
}

/*----------------------------------------------------------------------*/
/* Textboxes
/*----------------------------------------------------------------------*/
.grey-textbox {
    float: right;
    min-width: 60px;
    text-align: center;
    list-style: none;
    line-height: 18px;
    border: 1px solid;
    border-color: #D7D7D7 #C2C2C2 #C2C2C2 #D7D7D7;
    position: relative;
    margin: 0 10px 0 0;
    padding: 2px 15px 4px 15px;
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0px 1px 0 white;
    background: #F1F1F1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e8e8e8');
}

.small-colored-textbox {
    /*----------------------------------------------------------------------*/
    /* Works with the coloring of style.colors.css */
    /*----------------------------------------------------------------------*/
    font-size: 11px;
    color: white;
    background-color: #F0A8A8;
    border-color: #BBB;
    border: 1px solid;
    margin-top: 10px;
    padding: 5px 11px 5px;
    font-family: sans-serif;
    -webkit-box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.4), inset 0px -2px 3px rgba(255, 25, 25, 0.4);
    -moz-box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.4), inset 0px -2px 3px rgba(255, 25, 25, 0.4);
    box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.4), inset 0px -2px 3px rgba(255, 25, 25, 0.4);
    vertical-align: middle;
    text-align: center;
    z-index: 100;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    float: left;
    font-weight: 600;
    text-shadow: 0 1px 0 #333;
}

/*----------------------------------------------------------------------*/
/* Bubbles
/*----------------------------------------------------------------------*/
.bubble {
    background-color: #F0A8A8;
    color: white;
    text-shadow: none;
    border-color: #BBB;
    -webkit-box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.4), inset 0px -2px 3px rgba(255, 25, 25, 0.4);
    -moz-box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.4), inset 0px -2px 3px rgba(255, 25, 25, 0.4);
    box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.4), inset 0px -2px 3px rgba(255, 25, 25, 0.4);
    font-family: sans-serif;
    display: block;
    position: absolute;
    right: -6px;
    top: -15px;
    font-size: 10px;
    line-height: 10px;
    font-weight: 700;
    padding: 4px 4px 5px;
    text-align: center;
    min-width: 10px;
    z-index: 2;
    border: 1px solid;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    border-radius: 36px;
    font-style: normal;
}

.submit-login-summary {
    position: absolute;
    right: 5px;
    top: 20px;
}
@media (max-width: 800px) {
    .submit-login-summary {
        display: none;
    }
}
.follow-up-flag-label-container {
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
}

.follow-up-flag-label {
    padding: 5px;
    border: 1px solid #FF5757;
    background: #FFB8B8;
    color: black;
    font-weight: bold;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/*----------------------------------------------------------------------*/
/* Boxes
/*----------------------------------------------------------------------*/
.grey-gradient-box {
    /*background-image: linear-gradient(bottom, #eee 0%, #fff 100%);*/
    /*background-image: -o-linear-gradient(bottom, #eee 0%, #fff 100%);*/
    /*background-image: -moz-linear-gradient(bottom, #eee 0%, #fff 100%);*/
    /*background-image: -webkit-linear-gradient(bottom, #eee 0%, #fff 100%);*/
    /*background-image: -ms-linear-gradient(bottom, #eee 0%, #fff 100%);*/
    border: 1px solid;
    border-color: #DEDEDE;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #f5f5f5;
    /*-webkit-border-radius: 4px;*/
    /*-moz-border-radius: 4px;*/
    /*border-radius: 4px;*/
}

/*----------------------------------------------------------------------*/
/* Rounded textbox w/tables
/*----------------------------------------------------------------------*/
.rounded-text-box {
    /*border: 1px solid #ccc;*/
    /*-webkit-border-radius: 4px;*/
    /*-moz-border-radius: 4px;*/
    /*border-radius: 4px;*/
    width: 100%;
    background-color: #EAEAEA;
    float: left;
    /*	background-image: -moz-linear-gradient(#F5F0F0, #DBDBDB 100%);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F5F0F0), to(#DBDBDB));
        background-image: -o-linear-gradient(#F5F0F0, #DBDBDB 100%);
        background-image: -ms-linear-gradient(#F5F0F0, #DBDBDB 100%);
        -cp-background-image: linear-gradient(#F5F0F0, #DBDBDB 100%);
    */
}

.rounded-text-box table, .rounded-text-box table thead tr, .rounded-text-box table tfoot tr,
.rounded-text-box table th, .rounded-text-box table td {
    background-image: none;
    border-color: transparent;
    border: 0;
    font-weight: bold;
}

.rounded-text-box table.container tr tbody td {
    border-color: transparent;
    border: 0;
}

.rounded-text-box table th {
    text-align: right;
    font-size: 10px;
    color: #555;
    vertical-align: top;
    width: 35%;
    position: relative;
}

.rounded-text-box table.container th.left {
    text-align: left;
}

.rounded-text-box table.container th.narrow {
    width: 17.5%;
}

.rounded-text-box table.container th.wide {
    width: 20%;
}

.rounded-text-box table td {
    color: #37F;
}

.rounded-text-box table td .field {
    font-weight: bold;
    display: inline-block;
}

.rounded-text-box table td .label {
    font-weight: bold;
    display: inline-block;
    color: #555;
    font-size: 10px;
}

.rounded-text-box table.container td span {
    font-weight: bold;
}

.rounded-text-box table.container td .chzn-container-single .chzn-single.chzn-default span {
    font-weight: normal;
}

.rounded-text-box button.text {
    margin-top: 0;
    margin-left: 0;
}

/*----------------------------------------------------------------------*/
/* Custom form layouts - inline form and label layouts
/*----------------------------------------------------------------------*/
/*.custom-form table td, table th{
	padding:2px 3px;
}*/
.custom-form table th {
    vertical-align: top;
    width: 8%;
    padding: 2px 2px;
    position: relative;
    top: 4px;
}

.custom-form.label-wide table th {
    width: 35%;
}

.custom-form table tr td {
    padding: 2px 2px;
    vertical-align: top;
}

.custom-form table .label,
.custom-form table input, .custom-form table select {
    display: inline;
}

.custom-form table .label {
    position: relative;
    vertical-align: top;
    position: relative;
    top: 4px;
}

.custom-form table input, .custom-form table select {
    float: none;
    top: 0px;
    position: relative;
}

.custom-form table .break {
    display: block;
    margin-top: 6px;
}

ul.chzn-choices {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/*----------------------------------------------------------------------*/
/* Search Box Styles in List Views
/*----------------------------------------------------------------------*/
#listview-search form {
    border: 0;
    background-image: none;
    padding: 0;
}

#listview-search form label {
    font-size: 12px;
    padding: 0;
    border-top: transparent;
    background: none;
    text-align: right;
    line-height: 31px;
    height: 31px;
    vertical-align: middle;
}

#listview-search form span {
    padding: 0;
}

#listview-search input[type=submit] {
    padding: 6px 12px;
    font-variant: small-caps;
    min-height: 30px;
    font-size: 11px;
    margin: 0;
}

#listview-actions {
    /*----------------------------------------------------------------------*/
    /* List view actions are for the buttions with actions - Add/Update/Del
    /*----------------------------------------------------------------------*/
    position: absolute;
    top: 10px;
    right: 5px;
}

#listview-actions.inline {
    position: absolute;
    float: right;
    top: 22px;
    right: 4px;
}

#listveiw-actions a.btnGray, a.btnGray.task-widget {
    min-height: 14px;
    background-position: 4px 8px;
}

#listview-viewed-homes {
    font-weight: bold;
    color: #C80;
}

#listview-saved-homes, .list-view-price {
    font-weight: bold;
    color: #00BD00;
}

.list-view-price {
    font-size: 12px;
}
.datatables {
    width: 100%;
}
.datatables td strong {
    color: #222;
}

/*----------------------------------------------------------------------*/
/* Dashboard Goals
/*----------------------------------------------------------------------*/
.dashboard-monthly-goals {
    height: 246px;
}

.dashboard-monthly-goals th {
    text-align: center;
}

.dashboard-monthly-goals tbody td {
    text-align: center;
}

.income-goal {
    font-size: 30px;
}

/*----------------------------------------------------------------------*/
/* Contact Information
/*----------------------------------------------------------------------*/
.notes th, .notes td {
    padding-top: 5px;
    padding-bottom: 5px;
}

#contacts.widget .rounded-text-box, #recruits.widget .rounded-text-box {
    min-height: 315px;
}

#companies.widget .rounded-text-box {
    min-height: 150px;
}

#transactions.widget .rounded-text-box {
    min-height: 345px;
}

table#contactPortlet td div {
    font-weight: bold;
}

.contact-portlet-address {
    max-height: 200px;
    width: 199px;
    overflow-y: auto;
}

.contact-portlet-address p {
    font-weight: bold;
    font-size: 11px;
}

/*----------------------------------------------------------------------*/
/* Transaction
/*----------------------------------------------------------------------*/
#transactions td {
    padding-top: 7px;
}

form #transactions label,
form #transactions td {
    color: #555;
    font-weight: bold;
}

form #transactions .widget .rounded-text-box span.contact-name {
    font-size: 17px;
    font-weight: bold;
    color: #58F;
}

#transaction-seller-right {
    width: 55%;
}

#transaction-seller-right th {
    width: 28%;
}

#transactions #seller-interview h2 {
    color: #555;
    padding-bottom: 10px;
}

#transactions #seller-interview th {
    width: 50px;
    /*padding-top: 11px;*/
}

#contact-grid a.view-details, #buyer-grid a.view-details, #seller-grid a.view-details, #closing-grid a.view-details {
    color: #03F !important;
    font-size: 12px;
    text-decoration: none;
    position: relative;
    top: 5px;
    text-shadow: 1px 1px 0 white;
}

#contact-grid a.view-details:hover, #buyer-grid a.view-details:hover, #seller-grid a.view-details:hover, #closing-grid a.view-details:hover {
    text-decoration: underline;
}

#contact-grid a.view-details img.view-icon, #buyer-grid a.view-details img.view-icon, #seller-grid a.view-details img.view-icon, #closing-grid a.view-details img.view-icon {
    position: relative;
    top: 3px;
}

.follow-up-flag {
    color: #D20000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

/*----------------------------------------------------------------------*/
/* CMS Content Page
/*----------------------------------------------------------------------*/
#page-content-form img {
    float: left;
    max-width: 200px;
    max-height: 300px;
}

#page-content-form input[type="file"] {
    /*float: left;*/
}
#content.stmcms ul{
    padding-left: 40px;
}

/*----------------------------------------------------------------------*/
/* Goals Page
/*----------------------------------------------------------------------*/
#goals-container label.goals-metric, #email-templates-container label.email-message {
    float: left;
    font-size: 20px;
    font-weight: bold;
    color: #37F;
    background: #EFEFEF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 2px 5px;
    border: #AAA 1px solid;
    min-width: 32px;
}

#goals-container .label {
    float: left;
}

/*----------------------------------------------------------------------*/
/* Calendar
/*----------------------------------------------------------------------*/
#calendar-wrapper .fc-border-separate tbody td {
    border: 1px solid #AAA;
    border-width: 1px 0 0 1px;
}

#calendar-wrapper .fc-border-separate tbody tr.fc-first td, #calendar-wrapper .fc-border-separate tbody tr.fc-first th {
    border-top-width: 0;
}

#calendar-wrapper .fc-border-separate td.fc-last {
    border-right-width: 1px;
}

#calendar-wrapper .fc-border-separate tr.fc-last th, #calendar-wrapper .fc-border-separate tr.fc-last td {
    border-bottom-width: 1px;
}

#calendar-wrapper th {
    text-align: center;
}

#calendar-wrapper .fc-day-number {
    color: #333;
}

/*----------------------------------------------------------------------*/
/* Tasks
/*----------------------------------------------------------------------*/
.priority-task-flag {
    color: white;
    background-color: #D20000;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 20px;
}
.priority-task-flag-2 {
    color: white;
    background-color: #ffa500;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 20px;
}
.overdue-task-label {
    color: #D20000;
    font-weight: bold;
    font-size: 18px;
}

.overdue-task-flag {
    color: #D20000;
    font-weight: bold;
    font-size: 12px;
}
tr:hover .overdue-task-flag {
    color: white !important;
}
/*----------------------------------------------------------------------*/
/* Settings
/*----------------------------------------------------------------------*/
#settings-container img.profile-photo {
    max-height: 220px;
    max-width: 180px;
}

/*----------------------------------------------------------------------*/
/* Error Summary and Message
/*----------------------------------------------------------------------*/
div.errorSummary p {
    font-weight: bold;
}

div.errorSummary ul li {
    color: #761A1D;
    font-weight: bold;
}

div.errorMessage {
    float: none !important;
    padding: 5px 0 0 0;
    clear: both !important;
}

div.form {
    margin-top: 20px;
}

div.widget div.pager {
    margin-top: 20px;
}

.hidden {
    display: none !important;
}

div.ui-timepicker-div dl {
    padding-top: 5px;
}

#content-body {
    clear: both;
}

/* Added Bkozak: 3/14/2015 - Update for mobile menu */
header .g12 {
    padding: 0;
}

/*TINY MCE*/
.mce-container button, .moxman-container button{
    color: black !important;
    background: none !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.mce-container input{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*----------------------------------------------------------------------*/
/* Clear Format Text View - Email Templates, Ops Manuals, etc.
/*----------------------------------------------------------------------*/
/*.clear-formatting{*/
    /*background-color: white;*/
    /*font-family: Arial, Helvetica, sans-serif;*/
    /*font-size: 13px;*/
/*}*/


/**
 * Nicole's super secret CSS, keep out!
 */

#mobile ul {
    display: none;
}

/* Top nav for mobile updates */
#mobile-header {
    border-left: 1px solid #da555a;
    border-top: 0 none #da555a;
    box-shadow: -1px 0 1px 0 #800005;
    background: #C20000 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 18px;
    text-shadow: none;
}

#mobile-header:before,
#mobile-header:after { content:""; display:table; }
#mobile-header:after { clear:both;}
#mobile-header { zoom:1; /* For IE 6/7 */ }

#mobile-menu-expand {
    font-size: 12px;
    padding: 4px;
    color: #333;
    margin: 0;
}
#mobile-header .nav-header {
    display: inline;
    padding: 10px;
}
#mobile-menu-expand {
    background: #efefef;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
/* Below are some ad-hoc responsive utilities */

/*  SECTIONS  */
.res-section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.res-col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}
.res-col:first-child { margin-left: 0; }

/*  GROUPING  */
.res-group:before,
.res-group:after { content:""; display:table; }
.res-group:after { clear:both;}
.res-group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWELVE  */
.span_12_of_12 {
    width: 100%;
}

.span_11_of_12 {
    width: 91.53%;
}
.span_10_of_12 {
    width: 83.06%;
}

.span_9_of_12 {
    width: 74.6%;
}

.span_8_of_12 {
    width: 66.13%;
}

.span_7_of_12 {
    width: 57.66%;
}

.span_6_of_12 {
    width: 49.2%;
}

.span_5_of_12 {
    width: 40.73%;
}

.span_4_of_12 {
    width: 32.26%;
}

.span_3_of_12 {
    width: 23.8%;
}

.span_2_of_12 {
    width: 15.33%;
}

.span_1_of_12 {
    width: 6.866%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 750px) {
    .res-col {  margin: 1% 0 1% 0%; }

    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
        width: 100%;
    }
}

@media only screen and (max-width: 1050px) {
    .res-col {  margin: 1% 0 1% 0%; }

    .wider-collapse {
        width: 100%;
    }
}

/* Below is for a homemade reuseable button bar */
.btn-bar {
    margin-top: 10px;
}

.btn-bar:after {
    content: "";
    display: table;
    clear: both;
}

.btn-bar a {
    font-size: 15px;
    box-sizing: border-box;
    padding: 10px;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #cb040b 0%, #9b0a10 100%) repeat scroll 0 0;
    color: white;
    float: left;
    border-right: 1px solid #1d1d1d;
}

.btn-bar a:hover {
    text-decoration: none;
    /*color: darkgray;*/
    color: #ccc;
}

.btn-bar a:first-of-type {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.btn-bar a:last-of-type {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: none;
}


/* Tooltips */
.stm-tool-tip {
    padding: 2px 4px;
    top: -5px;
    position: relative;
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.2em;
    color: #555;
}

.stm-tool-tip:before {
    font: normal normal normal 14px/1 FontAwesome;
}

.stm-tool-tip.question:before {
    content: "\f059";
}
.stm-tool-tip.exclamation:before {
    content: "\f06a";
}
.stm-tool-tip.exclamation:before {
    content: "\f06a";
}

.stm-tool-tip>span {
    bottom: 18px;
    left: 5px;
    width: 200px;
    padding: 7px;
    z-index: 1000;
    margin-top: -26px;
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.1s linear;
    color: white;
    background-color: #777;
    border: 1px solid lightgrey;
    text-align: left;
    text-shadow: none;
}
.stm-tool-tip.left>span {
    left: auto;
    right: 0;
}
.stm-tool-tip:hover>span {
    visibility: visible;
    opacity: 1;
}
.stm-tool-tip:hover>span a {
    color: white;
    text-decoration: underline;
}

/* Autocomplete search things */
#autocomplete-search {
    float: right;
    padding: 0;
}

#search-form {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
}


#search-form button {
    display: inline;
}

#search-form input {
    font-weight: normal;
    width: 265px;
    margin-top: 2px;
    padding-left: 25px;
    background-image: url(http://cdn.seizethemarket.com/assets/images/icons/light/magnifying_glass.png);
    background-repeat: no-repeat;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#results-container {
    margin: 0 auto;
    max-width: 288px;
}

#search-results {
    position: absolute;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.2);
}

#search-results article, #pageoptions ul li #search-results a {
    padding: 5px;
    color: #3f3f3f;
    font-weight: normal;
    line-height: 1.2;
}
#search-results article:hover, #pageoptions ul li #search-results a:hover {
    background-color: #d1eaff;
}

#search-results article h2 {
    line-height: 1.2;
    text-align: left;
    color: black;
    font-size: 14px;
}

#search-results article h2 a {
    color: black;
}
#search-results article h2 a:hover {
    text-decoration: none;
}

#search-results article div.component-type {
    font-weight: normal;
    color: #999;
    display: inline-block;
    width: 55px;
    font-size: 11px;
}

.result-buyers {
    /*background-color: #ffff66;*/
    background-color: white;
}

.result-sellers {
    /*background-color: #a3d977;*/
    background-color: white;
}

.result-recruits {
    /*background-color: #99d2f2;*/
    background-color: white;
}

.result-closings {
    /*background-color: #ef8d22;*/
    background-color: white;
}

.result-contacts {
    /*background-color: white;*/
    background-color: white;
}

/*dialer call list tags in contact portlet*/
.call-list-tag .label {
    padding-right: 6px;
    color: #37F !important;
    font-weight: normal;
    font-size: 11px !important; /*needed for contact portlet mini*/
}

.call-list-tag .remove-from-call-list{
    padding: 6px;
    font-weight: bold;
    color: #555;
}

.call-list-tag .remove-from-call-list:hover {
    color: white;
    background: #c40000;
    cursor: pointer;
}

/* NEW STM Modal! */
.stm-modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
}

.stm-modal {
    background-color: #fff;
    position: absolute;
    z-index: 1001;
    border-radius: 0;
    clear: right;
}

@media only screen and (max-width : 769px) {
    .stm-modal {
        left: 0 !important;
        width: 100% !important;
    }
}

.stm-modal-title,
.stm-modal-header {
    font-size: 20px;
    text-align: left;
}

.stm-modal-header {
    padding: 15px;
    font-weight: bold;
    border-bottom: 1px solid #e5e5e5;
}

/*.stm-modal-content {*/
    /*padding: 0px 10px;*/
/*}*/

.stm-modal-close-x {
    display: block;
    float: right;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 6px;
    border: 1px solid transparent;
}
.stm-modal-close-x:hover {
    text-decoration: none;
    background: #EFEFEF;
}
a.stm-modal-close-x {
    color: #aaa;
}
a.stm-modal-close-x:hover {
    color: #333;
}

.stm-modal form fieldset {
    border-radius: 0;
    display: block;
    margin: 0;
}
.stm-modal-content form {
    padding-top: 20px;
}
.stm-modal-body {
    padding: 15px;
}
.stm-modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.stm-modal form fieldset > section {
}
.stm-modal form fieldset > section label {
    font-weight: bold;
    text-align: right;
}