/*----------------------------------------------------------------------*/
/* Error Page
/*----------------------------------------------------------------------*/

body#error{
	position:static;
	left:auto;
	right:auto;
	width:400px;
	margin:120px auto;
	padding:0;
}
body#error #content{
	min-height:50px;
	padding:8px;
}
body#error #content h1{
	font-size:116px;
	font-weight:700;
	line-height:0.7em;
	letter-spacing:-9px;
}
body#error #content h2{
	float:right;
}