/*----------------------------------------------------------------------*/
/* Admin sidebar Navigation
/*----------------------------------------------------------------------*/
#sidebar{
	padding:3px;
	position: absolute;
	width: 190px;
	top:0;
	left:0;
}
/*----------------------------------------------------------------------*/
/* Navigation
/*----------------------------------------------------------------------*/
/*nav{
	border-right:0px solid;
	border-left:1px solid;
	-webkit-border-bottom-right-radius:4px; -moz-border-radius-bottomright:4px; border-bottom-right-radius:4px;
}

nav ul{
	border-top:1px solid;
	margin:0;
	-webkit-border-bottom-left-radius:4px; -moz-border-radius-bottomleft:4px; border-bottom-left-radius:4px;
	-webkit-border-bottom-right-radius:4px; -moz-border-radius-bottomright:4px; border-bottom-right-radius:4px;
}
nav ul li{
	list-style:none;
	padding:0;
	margin:0;
	background-repeat:no-repeat;
	background-position:-9999px;
}
nav ul li a{
	display:block;
	padding-right:0;
}
nav ul li a span{
	padding:12px 40px 11px;
	font-size:14px;
	display:block;
	border:1px solid;
	border-left:0;
	border-right:0;
	background-repeat:no-repeat;
	background-position:12px 10px;
	white-space:nowrap;
}
nav ul li a:hover{
	text-decoration:none;
	cursor:pointer;
	padding-right:0px;
}
nav ul li a:active, nav ul li a.active{
	padding-right:0px;
	padding-bottom:0px;
	background-repeat:repeat-x;
	background-position:left center;
	filter:none;
}
nav ul li a:active span, nav ul li a.active span{
	border-bottom:0;
	padding:12px 40px 12px;
}

nav ul li ul{
	border:0;
	margin-right:10px;
	margin-left:10px;
	display:none;
	margin-bottom:10px;
}
nav ul li ul li:first-child a{
}
nav ul li ul li:last-child, nav ul li ul li:last-child a, nav ul li ul li:last-child a span{
	-webkit-border-bottom-left-radius:4px; -moz-border-radius-bottomleft:4px; border-bottom-left-radius:4px;
	-webkit-border-bottom-right-radius:4px; -moz-border-radius-bottomright:4px; border-bottom-right-radius:4px;
}
nav ul li ul li{
	-webkit-border-radius:0; -moz-border-radius:0; border-radius:0;
}
nav ul li ul li a{
	padding-right:0;
	-webkit-border-radius:0; -moz-border-radius:0; border-radius:0;
}
nav ul li ul li a span{
	border:0;
	font-size:12px;
	line-height:12px;
	border-top:1px solid #ddd;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:15px;
	background-position:-9999px;
	-webkit-border-radius:0; -moz-border-radius:0; border-radius:0;
}
nav ul li ul li:first-child a span{
}
nav ul li ul li a:active, nav ul li ul li a.active{
}
nav ul li ul li a:active span, nav ul li ul li a.active span{
	background-position:-9999px;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:15px;
}
*/

/***************FROM: style.css - PART 2 ************/

/*	nav, nav ul, nav ul li, nav ul li a, nav ul li a span, nav ul li a:active span, nav ul li a.active span{
		margin:0;
		padding:0;
	}
	nav ul li a:active span, nav ul li a.active span{
		border-top:1px solid;
		background-position:center center;
	}
	nav{
		border-top:1px solid;
		position:static;
		width:98%;
		margin:0 1%;
	}
	nav ul li{
		width:44px;
		display:inline-block;
		margin-left:-2px;
		margin-right:-2px;
	}
	nav ul li a span{
		border-left:1px solid;
		border-bottom:0;
		height:40px;
		text-indent:-9999px;
		background-position:center center;
	}
	nav ul li:first-child a span{
		border-left:0;
	}
	nav ul li ul{
		position:absolute;
		left:0;
		margin:0;
		z-index:15;
		background:none;
		width:98%;
		margin:0 1%;
	}
	nav ul li ul li{
		display:block;
		width:100%;
	}
	nav ul li ul li a span{
		height:20px;
		text-indent:0;
	}
*/


/***************FROM: theme.css************/
/*----------------------------------------------------------------------*/
/* Navigation
/*----------------------------------------------------------------------*/
/*nav{
	background: #A20000;
	width:190px;
	border-right-color:#e1e1e1 !important;
	border-left-color:#e1e1e1;
	-webkit-box-shadow:2px 2px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:2px 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow:2px 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul{
	border-top-color:#e1e1e1;
	background-color:#A20000;
}
nav ul li{
	background-image:none !important;
}
nav ul li a{
	background:#f1f1f1;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e8e8e8');
	background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e8e8e8));
	background:-moz-linear-gradient(top,  #f1f1f1,  #e8e8e8);
	background:-o-linear-gradient(top,  #f1f1f1,  #e8e8e8);
}
nav ul li a:hover{
	background:#f6f6f6;

	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#f1f1f1');
	background:-webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f1f1f1));
	background:-moz-linear-gradient(top,  #f6f6f6,  #f1f1f1);
	background:-o-linear-gradient(top,  #f6f6f6,  #f1f1f1);
	background-image: linear-gradient(bottom, #cb040b 0%, #E55B62 100%);
	background-image: -o-linear-gradient(bottom, #cb040b 0%, #E55B62 100%);
	background-image: -moz-linear-gradient(bottom, #cb040b 0%, #E55B62 100%);
	background-image: -webkit-linear-gradient(bottom, #cb040b 0%, #E55B62 100%);
	background-image: -ms-linear-gradient(bottom, #cb040b 0%, #E55B62 100%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #cb040b), color-stop(1, #E55B62) );
	-pie-background: linear-gradient(#E55B62, #cb040b);
	color:#353535;
	background:#A8A8A8;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#A8A8A8');
	background:-webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#A8A8A8));
	background:-moz-linear-gradient(top,  #e8e8e8,  #A8A8A8);
	background:-o-linear-gradient(top,  #e8e8e8,  #A8A8A8);
}
nav ul li ul li a span {
   color:#000;
}
nav ul li ul li a span:hover {
   color:#fff;
}
nav ul li ul li a{
	background: transparent;
	background-color: #A20000;
	color:#fff;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e8e8e8');
	background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e8e8e8));
	background:-moz-linear-gradient(top,  #f1f1f1,  #e8e8e8);
	background:-o-linear-gradient(top,  #f1f1f1,  #e8e8e8);
}
nav ul li ul li a:hover {
	background: transparent;
	background-color: #C20707;
	text-decoration:underline;
	cursor:pointer;
	color:#fff;
}
nav ul li a span{
	color:#353535;
	border-color:#ffffff #f7f7f7 #dddddd #f7f7f7;
}
nav ul li a:active, nav ul li a.active{
	background-image:url(http://cdn.seizethemarket.com/assets/images/nav_active.png);
	background-repeat:repeat-x;
	background-color:#CB0000;
	background-position:left center;
	filter:none;
}
nav ul li a:active span, nav ul li a.active span{
	color:#ffffff;
	text-shadow:0px -1px 0 rgba(0,0,0,0.3);
}

nav ul li ul{
	border-bottom-color:#dddddd;
}
nav ul li ul li{
	background-image:none !important;
	background:#A20000;
}
nav ul li ul li a span{
	border-top-color:#dddddd;
	background-image:none !important;
}*/
