/*----------------------------------------------------------------------*/
/* Breadcrumb
/*----------------------------------------------------------------------*/

.breadcrumb * {
	box-sizing: content-box;
}

.breadcrumb{
    padding: 4px 0 4px 0;
	margin:0;
	display:block;
	overflow:hidden;
	-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
	left:-8px;
    box-sizing: content-box;
}
.breadcrumb.disabled{
	opacity:0.8;
	filter:Alpha(opacity=80);
}
.breadcrumb li{
	float:left;
	margin:0;
	list-style:none;
}
.breadcrumb li:first-child{
	margin-left:0px;
}
.breadcrumb li a{
	display:block;
	font-weight:700;
	margin-left:-20px;
	border:1px solid;
	border-left:0;
	background-repeat:no-repeat;
	background-position:0px 0px;
	text-decoration:none;
	-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
	color:#777;
	font-size: 11px;
	padding: 6px 20px 5px 22px;
	height: 20px;
	text-shadow:0 1px 0 #ffffff;
	border-color:#eeeeee #dddddd #dddddd #dddddd;
	background-image:url(http://cdn.seizethemarket.com/assets/images/breadcrumb.png);
	background-position: 0px -4px;
}
.breadcrumb li a span{
	padding:4px 9px;
	height:20px;
	background-repeat:no-repeat;
	background-position:-2px -2px;
	display:block;
	text-indent:-9999px;
}
.breadcrumb li a.previous span{
	opacity:0.6;
	filter:Alpha(opacity=60);
}
.breadcrumb li a.previous:hover span{
	opacity:1;
	filter:none;
}
.breadcrumb li:first-child a{
	border-left:1px solid;
	background-position:-20px -5px;
	margin-left:0px;
	padding-left:10px;
	border-left-color:#dddddd;
}
.breadcrumb li:last-child a{
	padding-right:10px;
}
.breadcrumb li a.previous{
	background-position:0px -129px;
	color:#aaaaaa;
}
.breadcrumb.disabled li a.previous:hover{
	background-position:0px -129px;
	color:#aaaaaa;
}
.breadcrumb li:first-child a.previous{
	background-position:-20px -129px;
}
.breadcrumb.disabled li:first-child a.previous:hover{
	background-position:-20px -129px;
}
.breadcrumb li a:hover{
	background-position:0px -48px;
	color:#777777;
}
.breadcrumb.disabled li a:hover{
	background-position:0px 0px;
	color:#999999;
}
.breadcrumb li:first-child a:hover{
	background-position:-20px -48px;
}
.breadcrumb.disabled li:first-child a:hover{
	background-position:-20px 0px;
}
.breadcrumb li a:active, .breadcrumb li a.active, .breadcrumb.disabled li a.active:hover{
	background-position:0px -90px;
	color:#555555;
	text-shadow:0 0 1px #ffffff;}
.breadcrumb li:first-child a:active, .breadcrumb li:first-child a.active, .breadcrumb.disabled li:first-child a.active:hover{
	background-position:-20px -90px;
}