/*----------------------------------------------------------------------*/
/* Wizard
/*----------------------------------------------------------------------*/

body#wizard{
	position:static;
	left:auto;
	right:auto;
	width:500px;
	margin:120px auto;
	padding:0;
}
body#wizard #content{
	min-height:50px;
	padding:8px;
}