/*----------------------------------------------------------------------*/
/* Grid System (based on the 960 Grid System (http://960.gs)
/*----------------------------------------------------------------------*/
.g1,.g2,.g3,.g4,.g5,.g6,.g7,.g8,.g9,.g10,.g11,.g12,.g100 {
	display:inline;
	float:left;
	margin-left:.25%;
	margin-right:.25%;
	padding:4px 0;
	min-height:10px;
/*	margin-left:1%;
	margin-right:1%;
	padding:9px 0;
	min-height:10px;
		width:100%;
		margin:0;
		min-height:0;*/
}
.sy{overflow-y:scroll;}

.g1{width:7.833%;}
.g2{width:15.167%;}
.g3{width:24.5%;}
.g4{width:32.833%;}
.g5{width:41.167%;}
.g6{width:49.5%;}
.g7{width:57.833%;}
.g8{width:66.167%;}
.g9{width:74.5%;}
.g10{width:82.833%;}
.g11{width:91.167%;}
.g12{width:99.5%;}

.g12_5{width:12.5%;}
.g30{width:29.5%;}
.g35{width:34.7%;}
.g50{width:49.7%;}
.g65{width:64.7%;}
.g70{width:69.7%;}
.g75{width:74.7%;}
.g95{width:95.0%;}
.g96{width:96.0%;}
.g97{width:97.0%;}
.g98{width:98.0%;}
.g100{width:100.0%;}

/*----------------------------------------------------------------------*/
/* Positions (CLee's lazy css)
/*----------------------------------------------------------------------*/
/*absolute top-right*/
.bold{font-weight: bold;}
.p-mc {margin-left:auto; margin-right:auto;}
.p-tc{text-align:center;}
.p-tl{text-align:left;}
.p-tr{text-align:right;}
.p-vm{vertical-align: middle;}
.p-vt{vertical-align: top;}

.p-f0{float:none;}
.p-fr{float:right;}
.p-fl{float:left;}
.p-rel{position: relative;}
.p-abs{position: absolute;}
.p-clr{clear:both;}

.p-0 {margin:0; padding:0; min-height:0;}

.p-m0 {margin:0;}
.p-m1 {margin:1px;}
.p-m2 {margin:2px;}
.p-m3 {margin:3px;}
.p-m4 {margin:4px;}
.p-m5 {margin:5px;}
.p-m6 {margin:6px;}
.p-m7 {margin:7px;}
.p-m8 {margin:8px;}
.p-m9 {margin:9px;}
.p-m10{margin:10px;}

/* Margin Vertical */
.p-mv0 {margin-top:0;    margin-bottom:0;}
.p-mv1 {margin-top:1px;  margin-bottom:1px;}
.p-mv2 {margin-top:2px;  margin-bottom:2px;}
.p-mv3 {margin-top:3px;  margin-bottom:3px;}
.p-mv4 {margin-top:4px;  margin-bottom:4px;}
.p-mv5 {margin-top:5px;  margin-bottom:5px;}
.p-mv6 {margin-top:6px;  margin-bottom:6px;}
.p-mv7 {margin-top:7px;  margin-bottom:7px;}
.p-mv8 {margin-top:8px;  margin-bottom:8px;}
.p-mv9 {margin-top:9px;  margin-bottom:9px;}
.p-mv10{margin-top:10px; margin-bottom:10px;}

/* Margin Horizontal */
.p-mh0 {margin-left:0;    margin-right:0;}
.p-mh1 {margin-left:1px;  margin-right:1px;}
.p-mh2 {margin-left:2px;  margin-right:2px;}
.p-mh3 {margin-left:3px;  margin-right:3px;}
.p-mh4 {margin-left:4px;  margin-right:4px;}
.p-mh5 {margin-left:5px;  margin-right:5px;}
.p-mh6 {margin-left:6px;  margin-right:6px;}
.p-mh7 {margin-left:7px;  margin-right:7px;}
.p-mh8 {margin-left:8px;  margin-right:8px;}
.p-mh9 {margin-left:9px;  margin-right:9px;}
.p-mh10{margin-left:10px; margin-right:10px;}

/* Margin Top */
.p-mt0 {margin-top:0;}
.p-mt1 {margin-top:1px;}
.p-mt2 {margin-top:2px;}
.p-mt3 {margin-top:3px;}
.p-mt4 {margin-top:4px;}
.p-mt5 {margin-top:5px;}
.p-mt6 {margin-top:6px;}
.p-mt7 {margin-top:7px;}
.p-mt8 {margin-top:8px;}
.p-mt9 {margin-top:9px;}
.p-mt10{margin-top:10px;}

/* Margin Bottom */
.p-mb0 {margin-bottom:0;}
.p-mb1 {margin-bottom:1px;}
.p-mb2 {margin-bottom:2px;}
.p-mb3 {margin-bottom:3px;}
.p-mb4 {margin-bottom:4px;}
.p-mb5 {margin-bottom:5px;}
.p-mb6 {margin-bottom:6px;}
.p-mb7 {margin-bottom:7px;}
.p-mb8 {margin-bottom:8px;}
.p-mb9 {margin-bottom:9px;}
.p-mb10{margin-bottom:10px;}

/* Padding Left */
.p-ml0 {margin-left:0;}
.p-ml1 {margin-left:1px;}
.p-ml2 {margin-left:2px;}
.p-ml3 {margin-left:3px;}
.p-ml4 {margin-left:4px;}
.p-ml5 {margin-left:5px;}
.p-ml6 {margin-left:6px;}
.p-ml7 {margin-left:7px;}
.p-ml8 {margin-left:8px;}
.p-ml9 {margin-left:9px;}
.p-ml10{margin-left:10px;}

/* Padding right */
.p-mr0 {margin-right:0;}
.p-mr1 {margin-right:1px;}
.p-mr2 {margin-right:2px;}
.p-mr3 {margin-right:3px;}
.p-mr4 {margin-right:4px;}
.p-mr5 {margin-right:5px;}
.p-mr6 {margin-right:6px;}
.p-mr7 {margin-right:7px;}
.p-mr8 {margin-right:8px;}
.p-mr9 {margin-right:9px;}
.p-mr10{margin-right:10px;}

/* Padding All */
.p-p0 {padding:0;}
.p-p1 {padding:1px;}
.p-p2 {padding:2px;}
.p-p3 {padding:3px;}
.p-p4 {padding:4px;}
.p-p5 {padding:5px;}
.p-p6 {padding:6px;}
.p-p7 {padding:7px;}
.p-p8 {padding:8px;}
.p-p9 {padding:9px;}
.p-p10{padding:10px;}

/* Padding Vertical */
.p-pv0 {padding-top :0;   padding-bottom:0;}
.p-pv1 {padding-top :1px; padding-bottom:1px;}
.p-pv2 {padding-top :2px; padding-bottom:2px;}
.p-pv3 {padding-top :3px; padding-bottom:3px;}
.p-pv4 {padding-top :4px; padding-bottom:4px;}
.p-pv5 {padding-top :5px; padding-bottom:5px;}
.p-pv6 {padding-top :6px; padding-bottom:6px;}
.p-pv7 {padding-top :7px; padding-bottom:7px;}
.p-pv8 {padding-top :8px; padding-bottom:8px;}
.p-pv9 {padding-top :9px; padding-bottom:9px;}
.p-pv10{padding-top:10px; padding-bottom:10px;}

/* Padding Horizontal */
.p-ph0 {padding-left:0;    padding-right:0;}
.p-ph1 {padding-left:1px;  padding-right:1px;}
.p-ph2 {padding-left:2px;  padding-right:2px;}
.p-ph3 {padding-left:3px;  padding-right:3px;}
.p-ph4 {padding-left:4px;  padding-right:4px;}
.p-ph5 {padding-left:5px;  padding-right:5px;}
.p-ph6 {padding-left:6px;  padding-right:6px;}
.p-ph7 {padding-left:7px;  padding-right:7px;}
.p-ph8 {padding-left:8px;  padding-right:8px;}
.p-ph9 {padding-left:9px;  padding-right:9px;}
.p-ph10{padding-left:10px; padding-right:10px;}

/* Padding Top */
.p-pt0 {padding-top:0;}
.p-pt1 {padding-top:1px;}
.p-pt2 {padding-top:2px;}
.p-pt3 {padding-top:3px;}
.p-pt4 {padding-top:4px;}
.p-pt5 {padding-top:5px;}
.p-pt6 {padding-top:6px;}
.p-pt7 {padding-top:7px;}
.p-pt8 {padding-top:8px;}
.p-pt9 {padding-top:9px;}
.p-pt10{padding-top:10px;}

/* Padding Bottom */
.p-pb0 {padding-bottom:0;}
.p-pb1 {padding-bottom:1px;}
.p-pb2 {padding-bottom:2px;}
.p-pb3 {padding-bottom:3px;}
.p-pb4 {padding-bottom:4px;}
.p-pb5 {padding-bottom:5px;}
.p-pb6 {padding-bottom:6px;}
.p-pb7 {padding-bottom:7px;}
.p-pb8 {padding-bottom:8px;}
.p-pb9 {padding-bottom:9px;}
.p-pb10{padding-bottom:10px;}

/* Padding Left */
.p-pl0 {padding-left:0;}
.p-pl1 {padding-left:1px;}
.p-pl2 {padding-left:2px;}
.p-pl3 {padding-left:3px;}
.p-pl4 {padding-left:4px;}
.p-pl5 {padding-left:5px;}
.p-pl6 {padding-left:6px;}
.p-pl7 {padding-left:7px;}
.p-pl8 {padding-left:8px;}
.p-pl9 {padding-left:9px;}
.p-pl10{padding-left:10px;}

/* Padding right */
.p-pr0 {padding-right:0;}
.p-pr1 {padding-right:1px;}
.p-pr2 {padding-right:2px;}
.p-pr3 {padding-right:3px;}
.p-pr4 {padding-right:4px;}
.p-pr5 {padding-right:5px;}
.p-pr6 {padding-right:6px;}
.p-pr7 {padding-right:7px;}
.p-pr8 {padding-right:8px;}
.p-pr9 {padding-right:9px;}
.p-pr10{padding-right:10px;}

#pre-qualify-form .g5 img {
	float: right;
	width: 250px;
	margin: 20px;
}

@media screen and (max-width: 660px) {
	#pre-qualify-form .g5, #pre-qualify-form .g7 {
		width: 98%;
	}
	
	#pre-qualify-form .g5 {
		text-align: center;
	}
	
	#pre-qualify-form .g5 img {
		float: none;
		margin: 20px auto;
	}
}