/*----------------------------------------------------------------------*/
/* To override Yii Gridview Pagination styles - use #content to override
/*----------------------------------------------------------------------*/

#content .grid-view .pager, #content .list-view .pager {
	margin-top: 12px;
	margin-bottom: 20px;
	text-align: right;
	float: right;
	clear: both;
	width: 100%;
}
#content .pager ul {
	margin: 15px 10px 0 0;
}

#content .pager ul li a {
	font-weight: bold;
	font-size: 12px;
	padding: 6px 8px 6px 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-color: #C7C7C7 #B2B2B2 #B2B2B2 #C7C7C7;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	background-color: #E6E6E6;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 2px 5px rgba(255, 255, 255, 0.5), inset 0 -2px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 2px 5px rgba(255, 255, 255, 0.5), inset 0 -2px 5px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 2px 5px rgba(255, 255, 255, 0.5), inset 0 -2px 5px rgba(0, 0, 0, 0.1);
}

#content .pager ul li:hover {
	background: none !important;
}

#content ul.yiiPager a:link, #content  ul.yiiPager a:visited {
	color: #555;
}

#content .pager ul li.previous a, #content .pager ul li.next a{
	font-size: 10px;
	padding: 8px;
}