/*----------------------------------------------------------------------*/
/* Media Queries
/*----------------------------------------------------------------------*/

/* Move the Headernav to a drop down menu to the right */
@media screen and (max-width:960px) {
	#header ul#headernav li ul, #header ul#headernav li ul.collapsed{
		display:none;
	}
	#header ul#headernav li ul.shown{
		display:block !important;
	}
	#header ul#headernav{
		border-left:1px solid;
		position:relative;
		float:right;
		height:60px;
		width:60px;
		cursor:pointer;
		background-repeat:no-repeat;
		background-position:center center;
	}

	#header ul#headernav li ul{
		position:absolute;
		right:0;
		width:170px;
		padding:0;
		margin:0;
		top:60px;
	}
	#header ul#headernav li ul li{
		float:none;
		margin:0;
		border-bottom:0;
		border-top:0;

	}
	#header ul#headernav li ul li a{
		padding:10px;
	}
	#header ul#headernav li ul li:last-child{
		border-bottom:1px solid;

	}
	#header ul#headernav li ul span{
		right:5px;
		top:10px;
	}
	#header ul#headernav li ul li ul{
		position:relative;
		top:0;
		padding:0;
		display:none;
		padding-bottom:6%;
		z-index:20;
		width:99%;
	}
	#header ul#headernav li ul li ul.shown{
		display:block;
	}
	#header ul#headernav li ul li ul li{
		margin:0 6%;
	}
	#header ul#headernav li ul li ul li a{
		font-size:12px;
		padding:5px;
	}

	.g1,.g2,.g3,.g4,.g5,.g6 {
		padding:0;
		width:48.0%;
	}
	.g7,.g8,.g9,.g10,.g11,.g12 {
		padding:0;
		width:98%;
	}
	#header ul li ul li,#header ul li ul li a, #header ul#headernav li ul li ul{
		-webkit-border-radius:0; -moz-border-radius:0; border-radius:0;
	}

	#header ul li ul li:last-child,#header ul li ul li:last-child a{
		-webkit-border-bottom-left-radius:4px; -moz-border-radius-bottomleft:4px; border-bottom-left-radius:4px;
	}
}
@media screen and (max-width:900px) and (min-width:701px) {
	form fieldset > section > div{
		width:69%;
	}
	form fieldset > section label{
		width:24%;
	}
}

/* For more smaller Screens (iPad) */
@media screen and (max-width:700px) {
	header #search,header #searchbox{
		max-width:100px;
	}
	form label{
		padding:10px 1%;
	}
	form fieldset > section{
		padding-bottom:8px;
	}
	form fieldset > section > label{
		left:0;
		right:0;
		width:98%;
		margin:0;
		float:none;
		padding:1%;
		padding-bottom:8px;
	}
	form fieldset > section > div{
		float:none;
		width:98%;
		padding:4px;
		border:0;
	}
	.g1,.g2,.g3,.g4,.g5,.g6,.g7,.g8,.g9,.g10,.g11,.g12 {
		width:98%;
	}

}
@media screen and (max-width:800px) and (min-width:481px) {
	nav{
		width:150px;
	}
	nav ul li a span{
		font-size:12px;
	}
	nav ul li ul{
		margin-left:10px;
		margin-right:10px;
	}
	nav ul li ul li a span{
		padding-right:4px;
	}
	#content{
		padding:15px 0 15px 160px;
	}

}

/* iPhone and real small devicces */
@media screen and (max-width:480px) {
	body#login{
		position:static;
		left:auto;
		right:auto;
		width:96%;
		margin:10px auto;
		padding:0;
	}
	body#login #content{
		padding:0;
		padding-top:20px;
		width:99%;
	}
	body#login form{
		border:0;
	}
	body#login form section label{
		border:0;
	}
	body#login fieldset{
		margin:0px;
	}
	body#login form > section a{
		margin:10px 4%;
		float:left;
	}
	#pageoptions > div{
		left:2px;
		right:2px;
		padding:15px;
	}
	header #searchbox{
		display:none;
		max-width:40px;
	}
	header #searchbox input{
		max-width:40px;
	}
	header ul#searchboxresult{
		display:none !important;
	}
	body{
		width:96%;
		margin:1%;
	}
	body, header, nav, #content{
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
	}
	#header{
	}
	#logo{
		width:100%;
	}
	#logo, header, #content{
		width:100%;
	}
	#content{
		padding:0;
	}
	form{
		padding:0;
		margin:0;
	}
	form input, form textarea{
		font-size:14px;
		max-width:96%;
	}
	#wl_msg{
		right:5px;
		left:5px;
		width:auto;
	}

}