/**
 * CMS-Editor CSS Stylesheet (add/edit actions)
 * @author Chris Willard
 */

table#cms-editor {
	width: 100%;
}

table#cms-editor tr {
	border-bottom: 1px solid #CCC;
}

table#cms-editor tr:last-child {
	border: 0;
}

table#cms-editor tr:nth-child(odd) {

}

table#cms-editor tr:nth-child(even) {
	background-color:#F5F5F5;
	background-image:none;
	background-image:-moz-linear-gradient(#F7F7F7, #F5F5F5 100%);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#F7F7F7), to(#F5F5F5));
	background-image:-o-linear-gradient(#F7F7F7, #F5F5F5 100%);
	background-image:-ms-linear-gradient(#F7F7F7, #F5F5F5 100%);
	-cp-background-image:linear-gradient(#F7F7F7, #F5F5F5 100%);
}

table#cms-editor tr > td {
	vertical-align: top;
	padding: 20px 5px 20px 0;
}

table#cms-editor tr > td:first-child:not(.mceFirst) {
	width: 20%;
	border-right: 1px solid #CCC;
}

table#cms-editor tr > td:last-child {
	padding-left: 10px;
}

table.mceLayout tr > td {
	padding: 0 !important;
}

table#cms-editor td h4, table#cms-editor th h4 {
    text-align: right;
}