/*----------------------------------------------------------------------*/
/* Alert Boxes
/*----------------------------------------------------------------------*/
.errorMessage, .errorMessage span {
	color: #C20000;
	font-weight: bold;
}
div.alert{
	border:1px solid;
	margin-bottom:15px;
	cursor:pointer;
	background-repeat:no-repeat;
	background-position:7px 8px;
	padding:10px 10px 10px 35px;
	font-size:14px;
	font-weight:700;
	margin:0;
	-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
	border-color:#c7c7c7 #b2b2b2 #b2b2b2 #c7c7c7;
	text-shadow:0 1px 0 rgba(255,255,255,0.4);
	color:#555;
	background-color:#e6e6e6;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 2px 5px rgba(255, 255, 255, 0.5), inset 0 -2px 8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 2px 5px rgba(255, 255, 255, 0.5), inset 0 -2px 8px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(255, 255, 255, 0.1), inset 0 -2px 8px rgba(0, 0, 0, 0.1);
	margin:9px 0;}
div.alert code{
	background:none;
	border:0;
}
form div.alert{
	margin:15px 4px;
}
div.alert:hover{
	border:1px solid;
	border-color:#b2b2b2;
}
div.alert a{
	font-size:14px;
	font-weight:700;
	color:#777777;
}
div.alert a:hover{
	color:#444444;
}
div.alert.red, div.alert.warning{
	background-color:#f0a8a8;
}
div.alert.red:hover, div.alert.warning:hover{
	background-color:#f0cccc;
}
div.alert.green, div.alert.success{
	background-color:#a2e8a2;
}
div.alert.green:hover, div.alert.success:hover{
	background-color:#c5e8c5;
}
div.alert.yellow, div.alert.note{
	background-color:#e8e8a2;
}
div.alert.yellow:hover, div.alert.note:hover{
	background-color:#e8e8c5;
}
div.alert.blue, div.alert.info{
	background-color:#a8f0f0;
}
div.alert.blue:hover, div.alert.info:hover{
	background-color:#ccf0f0;
}
div.alert.pink{
	background-color:#f0a8f0;
}
div.alert.pink:hover{
	background-color:#f0ccf0;
}
div.alert.purple{
	background-color:#aea8f0;
}
div.alert.purple:hover{
	background-color:#cfccf0;
}

div.alert.warning{
	background-image:url(http://cdn.seizethemarket.com/assets/images/icons/dark/alert.png);
}
div.alert.success{
	background-image:url(http://cdn.seizethemarket.com/assets/images/icons/dark/tick.png);
}
div.alert.note{
	background-image:url(http://cdn.seizethemarket.com/assets/images/icons/dark/light_bulb.png);
}
div.alert.info{
	background-image:url(http://cdn.seizethemarket.com/assets/images/icons/dark/information.png);
}