/*----------------------------------------------------------------------*/
/* Login
/*----------------------------------------------------------------------*/

#login{
	position:static;
	left:auto;
	right:auto;
	width:350px;
	margin:120px auto;
}
#login header {
	height:95px;
	text-align: center;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#login #logo{
    background-color: #FBFBFB;
	padding-top: 15px;
	height: 95px;
	width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: block;
}
#login #content{
    left: 0px;
	min-height:50px;
	padding:8px;
}
#login label{
	padding:0;
	margin:0;
	width:100%;
	line-height: 1;
	font-size: 14px;
	top:-1px;
}
#login input{
	font-size: 23px;
	padding-left: 10px;
}
#login form section{
	width:100%;
}
#login label:hover {
    cursor: pointer;
}
#login form section div{
	width:90%;
	float:none;
	padding:0 4% 6px 4%;
	border:0;
}
#login form section > div{
	width:90% !important;
}
#login form section div input{
	width:100% !important;
}
#login form section div input#remember{
	width:auto !important;
}
#login form section div.checker{
	width:auto !important;
	padding:0;
	margin:0;
}
#login form section label{
	padding:3% 2% 1%;
	width:90% !important;
	float:none;
}
#login form section label.checkbox div{
	width:10px;
	padding:0;
	margin:0;
}
#login form section div label{
	width:80% !important;
}
#login form section a{
	float:right;
}
#login form section.submit{
	text-align: right;
}
#login img.logo{
	height: 70px;
}
#login button.submit {
    padding: 10px 0;
    width: 95%;
}