/*----------------------------------------------------------------------*/
/* Gallery
/*----------------------------------------------------------------------*/

.gallery{
	border:1px solid;
	padding:3px;
	overflow:auto;
	-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
	border-color:#CCCCCC #E7E7E7 #FFFFFF #E7E7E7;
	background-image:url(http://cdn.seizethemarket.com/assets/images/paper_02.png);
}
.widget .gallery{
	padding:0;
	border:0;
}

.gallery .sortable_placeholder{
	margin:4px;
	background-color:#f6f6f6;
	background-image:url(http://cdn.seizethemarket.com/assets/images/paper_02.png);
}

.gallery li{
	margin:4px;
	position:relative;
	list-style:none;
	float:left;
	padding:8px;
	border:1px solid;
	overflow:hidden;
	-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
	border-color:#FFFFFF #E7E7E7 #CCCCCC #E7E7E7;
	background-image:url(http://cdn.seizethemarket.com/assets/images/paper_01.png);
}
.gallery li > a{
	display:block;
	margin:0;
	padding:0;
	height:116px;
	width:116px;
	background-position:center center;
	background-repeat:no-repeat;
	-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
	background-image:url(http://cdn.seizethemarket.com/assets/images/loading.gif);
}
.gallery li img{
	position:relative;
}
.gallery li span{
	position:absolute;
	top:140px;
	left:0;
	display:block;
	height:132px;
	width:132px;
	padding-top:4px;
	border-top:1px solid;
	background-color:#2e2e33;
	border-top-color:#666666;
	-webkit-box-shadow:0 -1px 0 #2e2e33;
	-moz-box-shadow:0 -1px 0 #2e2e33;
	box-shadow:0 -1px 0 #2e2e33;
}
.gallery li > a span a{
	/* position:relative; */
	display:block;
	padding-left:24px;
	margin:2px 16px;
	background-position:center left;
	background-repeat:no-repeat;
	height:20px;
	color:#ffffff;
}
.gallery li a span a.edit{
	background-image:url(http://cdn.seizethemarket.com/assets/images/icons/light/pencil.png);
}
.gallery li a span a.delete{
	background-image:url(http://cdn.seizethemarket.com/assets/images/icons/light/cross.png);
}