/*----------------------------------------------------------------------*/
/* Pageoptions
/*----------------------------------------------------------------------*/
#pageoptions{
    background-color: #444;
    width: 100%;
    float: left;
}
#pageoptions h1, #pageoptions h2,#pageoptions h3, #pageoptions h4, #pageoptions h5, #pageoptions h6{
	color:#f1f1f1;
}
#pageoptions ul{
	margin:0;
}
#pageoptions ul li{
	float:right;
	list-style:none;
	padding:0;
	margin:0;
	margin-left:1px;
	color:#fff;
}
#pageoptions li.topLinkName {
    padding: 0 8px
}
#pageoptions ul li a{
	text-decoration:none;
	color: #EEE;
    display: inline-block;
    padding: 8px;
    font-size: 12px;
}
#pageoptions ul li a:hover, #pageoptions ul li a.active{
	color:#fff;
	background-color:#222;
    text-decoration: underline;
}
#pageoptions ul li span {
    color: #333;
    font-weight: bold;
    font-size: 13px;
}
#pageoptions ul li.topLinkName span {
    color: white;
    display: inline-block;
    padding: 8px 0;
}
#pageoptions > div{
	position:absolute;
	left:15px;
	right:15px;
	padding:15px;
	overflow:hidden;
	min-height:400px;
	-webkit-border-top-left-radius:4px; -moz-border-radius-topleft:4px; border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px; -moz-border-radius-topright:4px; border-top-right-radius:4px;
}

#pageoptions div li{
	float:none;
	color:#f1f1f1;
	background-color:#2e2e33;
	-webkit-box-shadow:inset 0 2px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:inset 0 2px 1px rgba(0, 0, 0, 0.5);
	box-shadow:inset 0 2px 1px rgba(0, 0, 0, 0.5);
}
