/*----------------------------------------------------------------------*/
/* Clears individual link space from interrupting background
/*----------------------------------------------------------------------*/
#blue tr:hover.odd a:not(.btn, .button), #blue tr:hover.even a:not(.btn, .button),
#green tr:hover.odd a:not(.btn, .button), #green tr:hover.even a:not(.btn, .button),
#magenta tr:hover.odd a:not(.btn, .button), #magenta tr:hover.even a:not(.btn, .button),
#orange tr:hover.odd a:not(.btn, .button), #orange tr:hover.even a:not(.btn, .button),
#purple tr:hover.odd a:not(.btn, .button), #purple tr:hover.even a:not(.btn, .button),
#red tr:hover.odd a:not(.btn, .button), #red tr:hover.even a:not(.btn, .button),
#teal tr:hover.odd a:not(.btn, .button), #teal tr:hover.even a:not(.btn, .button),
#yellow tr:hover.odd a:not(.btn, .button), #yellow tr:hover.even a:not(.btn, .button) {
    background: none !important;
    background-image: none !important;
}

/*----------------------------------------------------------------------*/
/* Strong text for row hover
/*----------------------------------------------------------------------*/
#blue tr:hover td strong,
#green tr:hover td strong,
#magenta tr:hover td strong,
#orange tr:hover td strong,
#purple tr:hover td strong,
#red tr:hover td strong,
#teal tr:hover td strong,
#yellow tr:hover td strong {
    color: white;
}

#blue a.button:hover,
#green a.button:hover,
#magenta a.button:hover,
#orange a.button:hover,
#purple a.button:hover,
#red a.button:hover,
#teal a.button:hover,
#yellow a.button:hover {
}

/*----------------------------------------------------------------------*/
/* Gradient Gray color for static rows
/*----------------------------------------------------------------------*/
#blue tr.even, #blue tr.even th, #blue tr.even-static, #blue tr.even-static th,
#green tr.even, #green tr.even th, #green tr.even-static, #green tr.even-static th,
#magenta tr.even, #magenta tr.even th, #magenta tr.even-static, #magenta tr.even-static th,
#orange tr.even, #orange tr.even th, #orange tr.even-static, #orange tr.even-static th
#purple tr.even, #purple tr.even th, #purple tr.even-static, #purple tr.even-static th,
#red tr.even, #red tr.even th, #red tr.even-static, #red tr.even-static th
#teal tr.even, #teal tr.even th, #teal tr.even-static, #teal tr.even-static th,
#yellow tr.even, #yellow tr.even th, #yellow tr.even-static, #yellow tr.even-static th {
    background-color: #F5F5F5;
    background-image: none;
    background-image: -moz-linear-gradient(#F7F7F7, #F5F5F5 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F7F7F7), to(#F5F5F5));
    background-image: -o-linear-gradient(#F7F7F7, #F5F5F5 100%);
    background-image: -ms-linear-gradient(#F7F7F7, #F5F5F5 100%);
    -cp-background-image: linear-gradient(#F7F7F7, #F5F5F5 100%);
}

/*----------------------------------------------------------------------*/
/* Contact - Color Theme (Blue)
/*----------------------------------------------------------------------*/
#blue tr.odd, #blue tr.odd th,
#blue tr.odd-static, #blue tr.odd-static th,
#blue .widget.number-widget > div {
    background-color: #e7ebfc;
    /*background-image: -moz-linear-gradient(#F0F2FF, #C4C6FF 100%);*/
    /*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F0F2FF), to(#C4C6FF));*/
    /*background-image: -o-linear-gradient(#F0F2FF, #C4C6FF 100%);*/
    /*background-image: -ms-linear-gradient(#F0F2FF, #C4C6FF 100%);*/
    /*-cp-background-image: linear-gradient(#F0F2FF, #C4C6FF 100%);*/
}

#blue .pager .page.selected a, #blue .pager ul li a:hover,
#blue button.text:hover, #blue a.text-button:hover,
#blue tr:hover.odd, #blue tr:hover.odd th,
#blue tr:hover.even, #blue tr:hover.even th,
#blue tr:hover.odd a:not(.button), #blue tr:hover.even a:not(.button),
#blue tr:hover.odd a:not(.button):visited, #blue tr:hover.even a:not(.button):visited,
#blue tr:hover.odd a.fa, #blue tr:hover.even a.fa
#blue .widget.number-widget > ul li a:hover,
#blue .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background-color: #4E52F2;
    background-image: none;
    color: white;
    text-shadow: 1px 1px 0 black;
    background-image: -moz-linear-gradient(#BFC1FF, #4E52F2 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#BFC1FF), to(#4E52F2));
    background-image: -o-linear-gradient(#BFC1FF, #4E52F2 100%);
    background-image: -ms-linear-gradient(#BFC1FF, #4E52F2 100%);
    -cp-background-image: linear-gradient(#BFC1FF, #4E52F2 100%);
}

#blue tr:hover.odd, #blue tr:hover.odd th,
#blue tr:hover.even, #blue tr:hover.even th,
#blue tr:hover.odd a:not(.button), #blue tr:hover.even a:not(.button),
#blue tr:hover.odd a:not(.button):visited, #blue tr:hover.even a:not(.button):visited {
    background-color: #4E52F2;
    background-image: none;
    -cp-background-image: none;
}


#blue tr:hover.odd strong, #blue tr:hover.even strong,
#blue .ui-tabs .ui-tabs-nav li.ui-tabs-active a,
#blue .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
#blue .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    color: white;
    text-shadow: 1px 1px 0 black;
}

#blue .rounded-text-box {
    background-color: #e7ebfc;
    border-color: #AAACFA;
}

/*----------------------------------------------------------------------*/
/* BlueDark - Color Theme (BlueDark)
/*----------------------------------------------------------------------*/
#bluedark tr.odd, #bluedark tr.odd th,
#bluedark tr.odd-static, #bluedark tr.odd-static th,
#bluedark .widget.number-widget > div {
    background-color: #EBCACA;
    background-image: none;
    background-image: -moz-linear-gradient(#F5F5FF, #CACEEB 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F5F5FF), to(#CACEEB));
    background-image: -o-linear-gradient(#F5F5FF, #CACEEB 100%);
    background-image: -ms-linear-gradient(#F5F5FF, #CACEEB 100%);
    -cp-background-image: linear-gradient(#F5F5FF, #CACEEB 100%);
}

#bluedark .pager .page.selected a, #bluedark .pager ul li a:hover,
#bluedark button.text:hover, #bluedark a.text-button:hover {
    border-color: #FFF5F5;
}

#bluedark .pager .page.selected a, #bluedark .pager ul li a:hover,
#bluedark button.text:hover, #bluedark a.text-button:hover,
#bluedark tr:hover.odd, #bluedark tr:hover.odd th,
#bluedark tr:hover.even, #bluedark tr:hover.even th,
#bluedark tr:hover.odd a, #bluedark tr:hover.even a, #bluedark tr:hover.odd a:visited,
#bluedark .widget.number-widget > ul li a:hover,
#bluedark .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background-color: #A20000;
    background-image: none;
    color: white;
    text-shadow: 1px 1px 0 black;
    background-image: -moz-linear-gradient(#E83C3C, #8A0000 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6D7BE3), to(#00177D));
    background-image: -o-linear-gradient(#E83C3C, #8A0000 100%);
    background-image: -ms-linear-gradient(#E83C3C, #8A0000 100%);
    -cp-background-image: linear-gradient(#E83C3C, #8A0000 100%);
}

#bluedark tr:hover.odd strong, #bluedark tr:hover.even strong,
#bluedark .ui-tabs .ui-tabs-nav li.ui-tabs-active a,
#bluedark .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
#bluedark .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    color: white;
    text-shadow: 1px 1px 0 black;
}

/*----------------------------------------------------------------------*/
/* Cyan - Color Theme (Cyan)
/*----------------------------------------------------------------------*/
#cyan tr.odd, #cyan tr.odd th,
#cyan tr.odd-static, #cyan tr.odd-static th,
#cyan .widget.number-widget > div {

    background-color: #EBCACA;
    background-image: none;
    background-image: -moz-linear-gradient(#F2FBFF, #A5D2E8 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F2FBFF), to(#A5D2E8));
    background-image: -o-linear-gradient(#F2FBFF, #A5D2E8 100%);
    background-image: -ms-linear-gradient(#F2FBFF, #A5D2E8 100%);
    -cp-background-image: linear-gradient(#F2FBFF, #A5D2E8 100%);
}

#cyan .pager .page.selected a, #cyan .pager ul li a:hover,
#cyan button.text:hover, #cyan a.text-button:hover {
    border-color: #FFF5F5;
}

#cyan .pager .page.selected a, #cyan .pager ul li a:hover,
#cyan button.text:hover, #cyan a.text-button:hover,
#cyan tr:hover.odd, #cyan tr:hover.even,
#cyan tr:hover.odd th, #cyan tr:hover.even th,
#cyan tr:hover.odd a, #cyan tr:hover.even a,
#cyan tr:hover.odd a:visited, #cyan tr:hover.even a:visited,
#cyan .widget.number-widget ul li a:hover,
#cyan .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background-color: #A2000;
    background-image: none;
    color: white;
    text-shadow: 1px 1px 0 black;
    background-image: -moz-linear-gradient(#E83C3C, #8A0000 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#95CCE8), to(#3C9AC9));
    background-image: -o-linear-gradient(#E83C3C, #8A0000 100%);
    background-image: -ms-linear-gradient(#E83C3C, #8A0000 100%);
    -cp-background-image: linear-gradient(#E83C3C, #8A0000 100%);
}

#cyan tr:hover.odd strong, #cyan tr:hover.even strong,
#cyan .ui-tabs .ui-tabs-nav li.ui-tabs-active a,
#cyan .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
#cyan .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    color: white;
    text-shadow: 1px 1px 0 black;
}

/*----------------------------------------------------------------------*/
/* Seller - Color Theme (Green)
/*----------------------------------------------------------------------*/
#green tr.odd, #green tr.odd th,
#green tr.odd-static, #green tr.odd-static th,
#green .widget.number-widget > div {
    background-color: #B4E6AA;
    background-image: none;
    background-image: -moz-linear-gradient(#ECFFE8, #CCF7C3 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ECFFE8), to(#CCF7C3)); /*#ECFFE8, #B4E6AA*/
    background-image: -o-linear-gradient(#ECFFE8, #CCF7C3 100%);
    background-image: -ms-linear-gradient(#ECFFE8, #CCF7C3 100%);
    -cp-background-image: linear-gradient(#ECFFE8, #CCF7C3 100%);
}

#green .pager .page.selected a, #green .pager ul li a:hover,
#green .ui-tabs .ui-tabs-nav li.ui-tabs-active,
#green .widget.number-widget > div ul li:hover,
#green button.text:hover, #green a.text-button:hover,
#green tr:hover.odd, #green tr:hover.even,
#green tr:hover.odd th, #green tr:hover.even th,
#green tr:hover.odd a:not(.button), #green tr:hover.even a:not(.button),
#green tr:hover.odd a:not(.button):visited, #green tr:hover.even a:not(.button):visited {
    background-color: #FAE851;
    background-image: none;
    color: black;
    text-shadow: 1px 1px 0 white;
    background-image: -moz-linear-gradient(#A3F07F, #3EC400 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B5F099), to(#53D119)); /*A3F07F, 3EC400*/
    background-image: -o-linear-gradient(#A3F07F, #3EC400 100%);
    background-image: -ms-linear-gradient(#A3F07F, #3EC400 100%);
    -cp-background-image: linear-gradient(#A3F07F, #3EC400 100%);
}

#green .pager .page.selected a, #green .pager ul li a:hover,
#green button.text:hover, #green a.text-button:hover {
    border-color: #F7F7F7;
    text-shadow: 1px 1px 0 white;
}

#green tr:hover.odd strong, #green tr:hover.even strong,
#green .ui-tabs .ui-tabs-nav li.ui-tabs-active a,
#green .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
#green .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    color: black;
    text-shadow: 1px 1px 0 white;
}

#green tr:hover.odd strong, #green tr:hover.even strong,
#green tr:hover.odd, #green tr:hover.even,
#green tr:hover.odd th, #green tr:hover.even th,
#green tr:hover.odd a:not(.button), #green tr:hover.even a:not(.button),
#green tr:hover.odd a:not(.button):visited, #green tr:hover.even a:not(.button):visited {
    color: white;
    background: #00a70d;
    background-image: none;
    text-shadow: 1px 1px 0 black;
}

#green .rounded-text-box {
    background-color: #ebf9e1;
    border-color: #b8de8a;
}

/*----------------------------------------------------------------------*/
/* Magenta - Color Theme (Magenta)
/*----------------------------------------------------------------------*/
#magenta tr.odd, #magenta tr.odd th,
#magenta tr.odd-static, #magenta tr.odd-static th,
#magenta .widget.number-widget > div {
    background-color: #FFB3E2;
    background-image: none;
    background-image: -moz-linear-gradient(#FFEDF8, #FFB3E2 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFEDF8), to(#FFB3E2));
    background-image: -o-linear-gradient(#FFEDF8, #FFB3E2 100%);
    background-image: -ms-linear-gradient(#FFEDF8, #FFB3E2 100%);
    -cp-background-image: linear-gradient(#FFEDF8, #FFB3E2 100%);
}

#magenta .pager .page.selected a, #magenta .pager ul li a:hover,
#magenta button.text:hover, #magenta a.text-button:hover {
    border-color: #FFEDF8;
}

#magenta .pager .page.selected a, #magenta .pager ul li a:hover,
#magenta button.text:hover, #magenta a.text-button:hover,
#magenta tr:hover.odd, #magenta tr:hover.even,
#magenta tr:hover.odd th, #magenta tr:hover.even th,
#magenta tr:hover.odd a:not(.button), #magenta tr:hover.even a:not(.button),
#magenta tr:hover.odd a:not(.button):visited, #magenta tr:hover.even a:not(.button):visited,
#magenta .widget.number-widget > div ul li a:hover,
#magenta .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background-color: #EB6D00;
    background-image: none;
    color: white;
    text-shadow: 1px 1px 0 black;
    background-image: -moz-linear-gradient(#FFA3DD, #DE359F 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFA3DD), to(#DE359F));
    background-image: -o-linear-gradient(#FFA3DD, #DE359F 100%);
    background-image: -ms-linear-gradient(#FFA3DD, #DE359F 100%);
    -cp-background-image: linear-gradient(#FFA3DD, #DE359F 100%);
}

#magenta tr:hover.odd strong, #magenta tr:hover.even strong,
#magenta .ui-tabs .ui-tabs-nav li.ui-tabs-active a,
#magenta .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
#magenta .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    color: white;
    text-shadow: 1px 1px 0 black;
}

#magenta .rounded-text-box {
    background-color: #FFEBF7;
    border-color: #FF9CD8;
}
/*----------------------------------------------------------------------*/
/* Closing - Color Theme (Orange)
/*----------------------------------------------------------------------*/
#orange tr.odd, #orange tr.odd th,
#orange tr.odd-static, #orange tr.odd-static th,
#orange .widget.number-widget > div {
    background-color: #FFC399;
    background-image: none;
    background-image: -moz-linear-gradient(#FFF7F2, #FFE0BD 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF7F2), to(#FFE0BD));
    background-image: -o-linear-gradient(#FFF7F2, #FFE0BD 100%);
    background-image: -ms-linear-gradient(#FFF7F2, #FFE0BD 100%);
    -cp-background-image: linear-gradient(#FFF7F2, #FFE0BD 100%);
}

#orange .pager .page.selected a, #orange .pager ul li a:hover,
#orange button.text:hover, #orange a.text-button:hover {
    border-color: #F7F7F7;
}

#orange .pager .page.selected a, #orange .pager ul li a:hover,
#orange button.text:hover, #orange a.text-button:hover,
#orange tr:hover.odd, #orange tr:hover.even,
#orange tr:hover.odd th, #orange tr:hover.even th,
#orange tr:hover.odd a:not(.button), #orange tr:hover.even a:not(.button),
#orange tr:hover.odd a:not(.button):visited, #orange tr:hover.even a:not(.button):visited,
#orange .widget.number-widget > div ul li:hover,
#orange .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    color: white;
    text-shadow: 1px 1px 1px black;
    background-image: -moz-linear-gradient(#F0AE7F, #EB6D00 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F0AE7F), to(#EB6D00));
    background-image: -o-linear-gradient(#F0AE7F, #EB6D00 100%);
    background-image: -ms-linear-gradient(#F0AE7F, #EB6D00 100%);
    -cp-background-image: linear-gradient(#F0AE7F, #EB6D00 100%);
}

#orange tr:hover.odd, #orange tr:hover.even,
#orange tr:hover.odd th, #orange tr:hover.even th,
#orange tr:hover.odd a:not(.button), #orange tr:hover.even a:not(.button),
#orange tr:hover.odd a:not(.button):visited, #orange tr:hover.even a:not(.button):visited{
    color: white;
    background: #EB6D00;
    background-image: none;
    text-shadow: 1px 1px 0 black;
}

#orange .ui-tabs .ui-tabs-nav li.ui-tabs-active a,
#orange .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
#orange .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    color: white;
    text-shadow: 1px 1px 0 black;
}

#orange .rounded-text-box {
    background-color: #FFF3E4;
    border-color: #F90;
}

/*----------------------------------------------------------------------*/
/* Purple - Color Theme (Purple)
/*----------------------------------------------------------------------*/
#purple tr.odd, #purple tr.odd th,
#purple tr.odd-static, #purple tr.odd-static th,
#purple .widget.number-widget > div {
    background-color: #EDBAFF;
    background-image: none;
    background-image: -moz-linear-gradient(#F7E0FF, #EDBAFF 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F7E0FF), to(#EDBAFF));
    background-image: -o-linear-gradient(#F7E0FF, #EDBAFF 100%);
    background-image: -ms-linear-gradient(#F7E0FF, #EDBAFF 100%);
    -cp-background-image: linear-gradient(#F7E0FF, #EDBAFF 100%);
}

#purple .pager .page.selected a, #purple .pager ul li a:hover,
#purple button.text:hover, #purple a.text-button:hover {
    border-color: #F7F7F7;
}

#purple .pager .page.selected a, #purple .pager ul li a:hover,
#purple button.text:hover, #purple a.text-button:hover,
#purple tr:hover.odd, #purple tr:hover.even,
#purple tr:hover.odd th, #purple tr:hover.even th,
#purple tr:hover.odd a:not(.button), #purple tr:hover.even a:not(.button),
#purple tr:hover.odd a:not(.button):visited, #purple tr:hover.even a:not(.button):visited,
#purple .widget.number-widget > div ul li:hover,
#purple .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background-color: #C64BF2;
    background-image: none;
    color: white;
    text-shadow: 1px 1px 0 black;
    background-image: -moz-linear-gradient(#E49CFF, #C64BF2 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E49CFF), to(#C64BF2));
    background-image: -o-linear-gradient(#E49CFF, #C64BF2 100%);
    background-image: -ms-linear-gradient(#E49CFF, #C64BF2 100%);
    -cp-background-image: linear-gradient(#E49CFF, #C64BF2 100%);
}

#purple tr:hover.odd strong, #purple tr:hover.even strong,
#purple .ui-tabs .ui-tabs-nav li.ui-tabs-active a,
#purple .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
#purple .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    color: white;
    text-shadow: 1px 1px 0 black;
}

#purple .rounded-text-box {
    background-color: #F6DEFF;
    border-color: #E5A7FC;
}

/*----------------------------------------------------------------------*/
/* Red - Color Theme (Red)
/*----------------------------------------------------------------------*/
#red tr.odd, #red tr.odd th,
#red tr.odd-static, #red tr.odd-static th,
#red .widget.number-widget > div {
    background-color: #F5F0F0;
    background-image: -moz-linear-gradient(#F5F0F0, #DBDBDB 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F5F0F0), to(#DBDBDB));
    background-image: -o-linear-gradient(#F5F0F0, #DBDBDB 100%);
    background-image: -ms-linear-gradient(#F5F0F0, #DBDBDB 100%);
    -cp-background-image: linear-gradient(#F5F0F0, #DBDBDB 100%);
}

#red .pager .page.selected a, #red .pager ul li a:hover,
#red button.text:hover, #red a.text-button:hover {
    border-color: #FFF5F5;
}

#red .pager .page.selected a, #red .pager ul li a:hover,
#red button.text:hover, #red a.text-button:hover,
#red tr:hover.odd, #red tr:hover.even,
#red tr:hover.odd th, #red tr:hover.even th,
#red tr:hover.odd a:not(.button):not(.btn), #red tr:hover.even a:not(.button):not(.btn),
#red tr:hover.odd a:not(.button):not(.btn):visited, #red tr:hover.even a:not(.button):not(.btn):visited,
#red .widget.number-widget ul li a:hover,
#red .ui-tabs-active {
    color: white;
    text-shadow: 1px 1px 0 black;
    background: #e83c3c;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4M2MzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4YTAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #e83c3c 0%, #8a0000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e83c3c), color-stop(100%, #8a0000));
    background: -webkit-linear-gradient(top, #e83c3c 0%, #8a0000 100%);
    background: -o-linear-gradient(top, #e83c3c 0%, #8a0000 100%);
    background: -ms-linear-gradient(top, #e83c3c 0%, #8a0000 100%);
    background: linear-gradient(to bottom, #e83c3c 0%, #8a0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e83c3c', endColorstr='#8a0000', GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e83c3c', endColorstr='#8a0000')";
}

#red tr:hover.odd, #red tr:hover.even,
#red tr:hover.odd th, #red tr:hover.even th,
#red tr:hover.odd a:not(.button):not(.btn), #red tr:hover.even a:not(.button):not(.btn),
#red tr:hover.odd a:not(.button):not(.btn):visited, #red tr:hover.even a:not(.button):not(.btn):visited {
    color: white;
    background: #BC0000;
    background-image: none;
}

#red tr:hover.odd strong, #red tr:hover.even strong,
#red .ui-tabs .ui-tabs-nav li.ui-tabs-active a,
#red .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
#red .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    color: white;
    text-shadow: 1px 1px 0 black;
}

/*----------------------------------------------------------------------*/
/* Rose - Color Theme (Rose)
/*----------------------------------------------------------------------*/
#rose tr.odd, #rose tr.odd th,
#rose tr.odd-static, #rose tr.odd-static th,
#rose .widget.number-widget > div {
    background-color: #F2B8B8;
    background-image: none;
    background-image: -moz-linear-gradient(#FFF5F5, #F2B8B8 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF5F5), to(#F2B8B8));
    background-image: -o-linear-gradient(#FFF5F5, #F2B8B8 100%);
    background-image: -ms-linear-gradient(#FFF5F5, #F2B8B8 100%);
    -cp-background-image: linear-gradient(#FFF5F5, #F2B8B8 100%);
}

#rose button.text:hover, #rose a.text-button:hover {
    border-color: #FFF5F5;
}

#rose tr:hover.odd, #rose tr:hover.even,
#rose tr:hover.odd th, #rose tr:hover.even th,
#rose button.text:hover, #rose a.text-button:hover,
#rose tr:hover.odd a:not(.button), #rose tr:hover.even a:not(.button),
#rose tr:hover.odd a:not(.button):visited, #rose tr:hover.even a:not(.button):visited,
#rose .pager .page.selected a, #rose .pager ul li a:hover,
#rose .ui-tabs .ui-tabs-nav li.ui-tabs-active,
#rose .widget.number-widget > div ul li:hover {
    background-color: #B83939;
    background-image: none;
    color: white;
    text-shadow: 1px 1px 0 black;
    background-image: -moz-linear-gradient(#FFB3E2, #B83939 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFB3E2), to(#B83939));
    background-image: -o-linear-gradient(#FFB3E2, #B83939 100%);
    background-image: -ms-linear-gradient(#FFB3E2, #B83939 100%);
    -cp-background-image: linear-gradient(#FFB3E2, #B83939 100%);
}

#rose tr:hover.odd strong, #rose tr:hover.even strong,
#rose .ui-tabs .ui-tabs-nav li.ui-tabs-active a,
#rose .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
#rose .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    color: white;
    text-shadow: 1px 1px 0 black;
}

#rose .rounded-text-box {
    background-color: #FFEDF3;
    border-color: #FFA6C4;
}

/*----------------------------------------------------------------------*/
/* Teal - Color Theme (Teal)
/*----------------------------------------------------------------------*/
#teal tr.odd, #teal tr.odd th,
#teal tr.odd-static, #teal tr.odd-static th,
#teal .widget.number-widget > div {
    background-color: #A5F2F2;
    background-image: none;
    background-image: -moz-linear-gradient(#E1F5F5, #A0E8E8 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E1F5F5), to(#A0E8E8));
    background-image: -o-linear-gradient(#E1F5F5, #A0E8E8 100%);
    background-image: -ms-linear-gradient(#E1F5F5, #A0E8E8 100%);
    -cp-background-image: linear-gradient(#E1F5F5, #A0E8E8 100%);
}

#teal .pager .page.selected a, #teal .pager ul li a:hover,
#teal button.text:hover, #teal a.text-button:hover {
    border-color: #BDF0F0;
}

#teal .pager .page.selected a, #teal .pager ul li a:hover,
#teal button.text:hover, #teal a.text-button:hover,
#teal tr:hover.odd, #teal tr:hover.even,
#teal tr:hover.odd th, #teal tr:hover.even th,
#teal tr:hover.odd a:not(.button), #teal tr:hover.even a:not(.button),
#teal tr:hover.odd a:not(.button):visited, #teal tr:hover.even a:not(.button):visited,
#teal .widget.number-widget > div ul li:hover,
#teal .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background-color: #16A6A6;
    background-image: none;
    color: white;
    text-shadow: 1px 1px 0 black;
    background-image: -moz-linear-gradient(#81DBDB, #16A6A6 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#81DBDB), to(#16A6A6));
    background-image: -o-linear-gradient(#81DBDB, #16A6A6 100%);
    background-image: -ms-linear-gradient(#81DBDB, #16A6A6 100%);
    -cp-background-image: linear-gradient(#81DBDB, #16A6A6 100%);
}

#teal tr:hover.odd strong, #teal tr:hover.even strong,
#teal .ui-tabs .ui-tabs-nav li.ui-tabs-active a,
#teal .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
#teal .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    color: white;
    text-shadow: 1px 1px 0 black;
}

#teal .rounded-text-box {
    background-color: #D3F5F5;
    border-color: #44C9C9;
}
/*----------------------------------------------------------------------*/
/* Buyer - Color Theme (Yellow)
/*----------------------------------------------------------------------*/
#yellow tr.odd, #yellow tr.odd th,
#yellow tr.odd-static, #yellow tr.odd-static th,
#yellow .widget.number-widget > div {
    background-color: #FFFFB8;
    background-image: none;
    background-image: -moz-linear-gradient(#FFFFED, #FFFFC9 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFED), to(#FFFFC9));
    background-image: -o-linear-gradient(#FFFFED, #FFFFC9 100%);
    background-image: -ms-linear-gradient(#FFFFED, #FFFFC9 100%);
    -cp-background-image: linear-gradient(#FFFFED, #FFFFC9 100%);
}

#yellow button.text:hover, #yellow a.text-button:hover {
    border-color: #F7FF63;
}

#yellow tr:hover.odd, #yellow tr:hover.even,
#yellow tr:hover.odd th, #yellow tr:hover.even th,
#yellow button.text:hover, #yellow a.text-button:hover,
#yellow tr:hover.odd a:not(.button), #yellow tr:hover.even a:not(.button),
#yellow tr:hover.odd a:not(.button):visited, #yellow tr:hover.even a:not(.button):visited,
#yellow .pager .page.selected a, #yellow .pager ul li a:hover,
#yellow .ui-tabs .ui-tabs-nav li.ui-tabs-active,
#yellow .widget.number-widget > div ul li:hover {
    background-color: #FAFF4E;
    background-image: none;
    color: black;
    text-shadow: 1px 1px 0 white;
    /*background-image: -moz-linear-gradient(#FFFFC9, #F2F200 100%);*/
    /*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFC9), to(#F2F200));*/
    /*background-image: -o-linear-gradient(#FFFFC9, #F2F200 100%);*/
    /*background-image: -ms-linear-gradient(#FFFFC9, #F2F200 100%);*/
    /*-cp-background-image: linear-gradient(#FFFFC9, #F2F200 100%);*/
}

#yellow tr:hover.odd strong, #yellow tr:hover.even strong,
#yellow .ui-tabs .ui-tabs-nav li.ui-tabs-active a,
#yellow .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
#yellow .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    color: black;
    text-shadow: 1px 1px 0 white;
}

#yellow .rounded-text-box {
    background-color: #fffddd;
    border-color: #fce4a1;
}