/*----------------------------------------------------------------------*/
/* File Upload
/*----------------------------------------------------------------------*/

div.fileuploadui{
}
div.fileuploadui a{
}
ul.fileuploadpool{
	border-color:#ffffff;
	background-image:url(http://cdn.seizethemarket.com/assets/images/paper_02.png);
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
ul.fileuploadpool.drop{
	background-image:url(http://cdn.seizethemarket.com/assets/images/dragndrop.png),url(http://cdn.seizethemarket.com/assets/images/paper_02.png);
}
ul.fileuploadpool.single{
}
ul.fileuploadpool li{
	border-color:#FFFFFF #E7E7E7 #CCCCCC #E7E7E7;
	background-color:#f6f6f6;
}
ul.fileuploadpool li.error{
	background-color:#f0cccc;
}
ul.fileuploadpool li .name{
}
ul.fileuploadpool li a{
}
ul.fileuploadpool li a:hover{
}
ul.fileuploadpool li a.cancel{
	background-image:url(http://cdn.seizethemarket.com/assets/images/icons/dark/cross.png);
}
ul.fileuploadpool li a.remove{
	background-image:url(http://cdn.seizethemarket.com/assets/images/icons/dark/cross.png);
}
ul.fileuploadpool li .progress{
	background-color:#f0a8a8;
	background-image:url(http://cdn.seizethemarket.com/assets/images/upload.gif);
}
ul.fileuploadpool li.success .progress{
	background-color:#a2e8a2;
	background-image:none;
}