/*----------------------------------------------------------------------*/
/* Widgets
/*----------------------------------------------------------------------*/

.widget, .widget.loading{
	background-color:#F9F9F9;
	border-color:#dddddd #efefef #f1f1f1 #efefef;
}
.widget{
    margin: 10px 0 15px 0 !important;
	border:1px solid #e7e7e7;
}
/*This puts the white background inside all widgets content area with padding/margin*/
.widget > div{
	/*padding: 4px;*/
}
.widget > div > img{
	-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.widget > div.ui-widget{
	width:99%;
	padding:0;
	background-image:none;
}
.widget .ui-widget-header{
	overflow:hidden;
}
.widget h3{
	margin:0;
}
.widget h3.handle em{
	position:relative;
	top:7px;
	margin-top:-11px;
	margin-left:-4px;
	height:24px;
	width:24px;
	display:inline-block;
	background-position:center;
}
.widget:hover{
	border:1px solid;
	border-color:#cccccc;
}
.widget.ui-sortable-helper{
	-webkit-box-shadow:0px 5px 6px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:0px 5px 6px rgba(0, 0, 0, 0.6);
	box-shadow:0px 5px 6px rgba(0, 0, 0, 0.6);
}
.widget h3.handle{
	position:relative;
	font-size:14px !important;
	border-top:1px solid;
	border-bottom:1px solid;
	padding:8px 10px;
	margin:0;
	line-height:18px;
	margin-bottom:1px;
	cursor:pointer;
	-webkit-border-top-left-radius:4px; -moz-border-radius-topleft:4px; border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px; -moz-border-radius-topright:4px; border-top-right-radius:4px;
	color:#444444;
	text-shadow:0 0 1px #ffffff;
	border-top-color:#ffffff;
	border-bottom-color:#aaaaaa;
	text-align: center;
	background:#f1f1f1;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e8e8e8');
	background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e8e8e8));
	background:-moz-linear-gradient(top,  #f1f1f1,  #e8e8e8);
	background:-o-linear-gradient(top,  #f1f1f1,  #e8e8e8);
}
.widget.sortable h3.handle{
	cursor:move;
}
.widget h3.handle:hover{
	-webkit-box-shadow:inset 0 -3px 12px rgba(255, 255, 255, 0.5);
	-moz-box-shadow:inset 0 -3px 12px rgba(255, 255, 255, 0.5);
	box-shadow:inset 0 -3px 12px rgba(255, 255, 255, 0.5);

	background:#f6f6f6;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#f1f1f1');
	background:-webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f1f1f1));
	background:-moz-linear-gradient(top,  #f6f6f6,  #f1f1f1);
	background:-o-linear-gradient(top,  #f6f6f6,  #f1f1f1);
}
.widget h3.handle.red{
}
.widget h3.handle.green{
}
.widget h3.handle.blue{
}
.widget h3.handle.yellow{
}
.widget h3.handle .collapse, .widget h3.handle .reload{
	position:absolute;
	right:8px;
	top:5px;
	display:block;
	height:24px;
	width:24px;
	background-repeat:no-repeat;
	background-position:center center;
	display:none;
}
.widget h3.handle .reload{
	right:30px;
	background-image:url(http://cdn.seizethemarket.com/assets/images/icons/dark/refresh_3.png);
}
.widget h3.handle a:first-child{
	right:8px;
}
.widget:hover h3.handle .collapse, .widget.loading h3.handle .reload, .widget:hover h3.handle .reload{
	display:block;
}
.widget.loading h3.handle .reload{
	background-image:url(http://cdn.seizethemarket.com/assets/images/loading.gif);
}
.widget h3.handle .collapse{
	background-image:url(http://cdn.seizethemarket.com/assets/images/icons/dark/collapse.png);
}
.widget h3.handle .icon{
	margin-top:-10px;
	margin-left:-10px;
	height:24px;
	width:24px;
	display:inline-block;
	background-position:center;
	position: relative;
	top: 6px;
}
.widget h3.handle em.icon{
	background-repeat: no-repeat;
	background-position: 5px 5px;
}
.widget.collapsed{
	border-bottom:1px solid #aaaaaa;
}
.widget.collapsed h3.handle{
	border-bottom:0;
	-webkit-border-bottom-right-radius:4px; -moz-border-radius-bottomright:4px; border-bottom-right-radius:4px;
}
.widget.collapsed h3.handle .collapse{
	background-image:url(http://cdn.seizethemarket.com/assets/images/icons/dark/expand.png);
}
.widget.number-widget{
	overflow: hidden;
}
.widget.number-widget > div{
	padding:5px 6px 4px 4px;;
	margin-left:0;
}
.widget.number-widget > div ul{
	overflow: hidden;
	margin-bottom:4px;
}
.widget.number-widget > div ul li{
	display:block;
	margin:0;
	list-style:none;
	border-top:1px dotted;
	padding:14px 10px 4px;
	margin:0;
	border-top-color:#555555;
	padding:0;
}
.widget.number-widget > div ul li:first-child{
	border-top:0;
}
.widget.number-widget > div ul li a{
	font-size:12px;
	display:block;
	color:#555555;
	text-shadow:0 1px 0 #ffffff;
	text-align:left;
	padding:24px 0px 16px 0px;
}
/*#top-data #activity-widget > div ul li:hover,*/
.widget.number-widget > div ul li a:hover{
	text-decoration:underline;
	color:white;
}
.widget.number-widget ul li a span,
.widget.number-widget > div ul li a:hover span{
	text-align:right;
	display:inline-block;
	font-size:32px;
	font-weight:700;
	letter-spacing:-0.05em;
	width:40%;
}

.sortable_placeholder{
	margin-bottom:15px;
	border:1px solid;
	z-index:1;
	-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
	border-color:#ffffff;
	background-color:#f6f6f6;
	background-image:url(http://cdn.seizethemarket.com/assets/images/paper_02.png);
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5);
}