/*----------------------------------------------------------------------*/
/* jQuery UI mods
/*----------------------------------------------------------------------*/
.ui-tabs .ui-tabs-nav li{
	margin:0 5px 0 0 !important;
	font-size: 12px;
}
.ui-tabs .ui-tabs-nav, .ui-tabs{
	padding:0 !important;
}
.ui-widget{
	padding:0 !important;
	font-family: arial, sans-serif !important;
    /*, Verdana, Tahoma, Arial, Helvetica, sans-serif, 'Comic Sans MS'*/
	/*font-size: 1.1em;*/
}
.ui-widget-header{
	border:0 !important;
	border-top:1px solid !important;
	border-bottom:1px solid !important;
	background-repeat:repeat !important;
	margin:0 !important;
	/*THEME*/
	border-top-color:#FFFFFF !important;
	border-bottom-color:#DDD !important;
	background-color: white;
}
.ui-accordion-header a, .ui-datepicker-title .ui-datepicker-month, .ui-datepicker-title .ui-datepicker-year{ /*.ui-widget-header a,*/
	font-size:14px !important;
}
.ui-widget-header a, .ui-accordion-header a{
	color:#444444;
	text-shadow:0 0 1px #FFFFFF;
}
.ui-state-default a{
	border-top:1px solid !important;
	-webkit-border-radius:4px !important;
	-moz-border-radius:4px !important;
	border-radius:4px !important;
	border-top-color:#FFFFFF !important;
}
.ui-tabs .ui-tabs-panel {
	padding:0 !important;
}
.ui-tabs .ui-tabs-panel table{
	float:none;
	margin:0;
}
.ui-tabs .ui-tabs-panel p {
	margin:1em 1.3em !important;
}
.ui-tabs .ui-tabs-selected{
	border-bottom:0;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	background-image: linear-gradient(bottom, #9b0a10 0%, #cb040b 100%);
	background-image: -o-linear-gradient(bottom, #9b0a10 0%, #cb040b 100%);
	background-image: -moz-linear-gradient(bottom, #9b0a10 0%, #cb040b 100%);
	background-image: -webkit-linear-gradient(bottom, #9b0a10 0%, #cb040b 100%);
	background-image: -ms-linear-gradient(bottom, #9b0a10 0%, #cb040b 100%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #9b0a10), color-stop(1, #cb040b) );
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
	color:#FFF;
}
.ui-accordion-content p{
	margin:0 !important;
}
.ui-accordion .ui-accordion-header{
	margin-top:0 !important;
}
.ui-datepicker .ui-widget-header{
	padding:4px !important;
}
div.ui-widget-overlay{
	/*background-repeat:repeat !important;*/
	/*THEME*/
	/*background-image:url(http://cdn.seizethemarket.com/assets/images/paper_02.png);*/
	position: fixed;
	background-color:#333333;
	background: black;
	background-image:none;
	opacity: .80;
	filter: Alpha(Opacity=80);
    z-index: 2000;

}
.ui-slider-range.ui-widget-header{
	background-position:center !important;
	border:0 !important;
	/*THEME*/
	background-color:#333333;
	background-image:url(http://cdn.seizethemarket.com/assets/images/bg/01.png);
}
.ui-slider-horizontal .ui-slider-handle{
	top:-5px !important;
	min-height:22px;
	min-width:18px;
	margin-left:-10px !important;
	cursor:pointer !important;
}
.ui-slider-vertical{
	float:left;
}
.ui-slider-vertical .ui-slider-handle{
	left:-5px !important;
	min-height:18px;
	min-width:22px;
	margin-bottom:-10px !important;
	cursor:pointer !important;
}
.ui-slider{
	min-height:14px;
	min-width:14px;
	border:1px solid;
	background-repeat:repeat !important;
	margin:10px;
	/*THEME*/
	border-color:#AAAAAA !important;
	background-color:#f6f6f6;
	background-image:url(http://cdn.seizethemarket.com/assets/images/paper_02.png);
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
.ui-slider .ui-slider-handle{
	background-repeat:no-repeat !important;
	z-index:1 !important;
	position:relative;
	/*THEME*/
	border-color:#AAAAAA !important;
	background-image:url(http://cdn.seizethemarket.com/assets/images/slider_handler.png);
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.1);
	box-shadow:0 0 1px rgba(0, 0, 0, 0.1);
}
.ui-slider-horizontal .ui-slider-handle{
	background-position:right center !important;
}
.ui-slider-vertical .ui-slider-handle{
	background-position:left center !important;
}
.ui-slider-range{
	-webkit-border-radius:4px !important;
	-moz-border-radius:4px !important;
	border-radius:4px !important;
}
.ui-dialog.home-details-register-dialog a.ui-dialog-titlebar-close {
    display: none !important;
}

.ui-dialog .ui-dialog-titlebar-close span {
	margin: 0 !important;
	top: 0;
	left: 0;
}

.ui-front {
	z-index: 100 !important;
}

/*----------------------------------------------------------------------*/
/* jQuery Checkbox
/*----------------------------------------------------------------------*/
.jquery-checkbox span.checkboxplaceholder {
	background-image:url(http://cdn.seizethemarket.com/assets/images/checkbox.png);
}

/*----------------------------------------------------------------------*/
/* STM Dialog
/*----------------------------------------------------------------------*/
.ui-dialog.ui-widget {
    border: 0;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    -khtml-border-top-left-radius: 0px;
    border-top-left-radius: 0px;

    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    -khtml-border-top-right-radius: 0px;
    border-top-right-radius: 0px;

    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -khtml-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;

    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -khtml-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.ui-dialog-titlebar.ui-widget-header{
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-khtml-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;

	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-khtml-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;

	background: white;
	color: #333;
	font-size: 20px;
	text-align: center;
}
.ui-dialog .ui-dialog-title{
	float: none !important;
	font-weight: bold;
    font-size: 20px;
}
.ui-dialog form fieldset {
    margin: 0;
}
.ui-dialog form fieldset:first-child {
    margin-top: 0;
    border-top: 0;
}
.ui-dialog .ui-dialog-content {
    padding: 0;
}

.ui-dialog form fieldset > section label{
	text-align: right;
}
.ui-dialog form fieldset > section > div label{
	font-size: 13px;
	padding-left: 20px;
}
.ui-dialog button.ui-button-text-only .ui-button-text{
	padding: 9px 12px;
	font-size: 13px;
	font-weight: normal;
}
.ui-dialog .ui-dialog-buttonpane{
	border-width: 0 !important;
	text-align: center !important;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: none !important;
}
.ui-dialog .ui-dialog-buttonpane button{
	padding-left: 8px !important;
	padding-right: 8px !important;
}
.ui-widget form input, .ui-widget form textarea{
	font-size: 13px;
}
.ui-widget form input[type='submit']{
    font-size: 12px;
}

/*Button*/
.ui-dialog .ui-dialog-buttonpane button {
    color: #fff;
    background-color: #337ab7;
    background: #337ab7;
    border-color: #2e6da4;
}
.ui-dialog .ui-dialog-buttonpane button.ui-state-hover {
    background-color: #286090;
    border-color: #204d74;
}
/*----------------------------------------------------------------------*/
/* STM Tabs
/*----------------------------------------------------------------------*/
div.ui-widget{
	font-size: 12px;
}
div.ui-tabs.ui-widget{
	background:none;
	border:0;
}
div.ui-tabs .datatables{
	font-size: 11px;
}
table.datatables th {
	font-size: 11px !important;
}
div.ui-tabs.ui-widget .ui-widget-header{
	background:none;
	background-image: none;
}
div.ui-tabs.ui-widget  .ui-widget-header{
	border-top:0px solid !important;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-khtml-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-khtml-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
/* removed because new jui version selected tab has ui-state-default and overriding color scheme
div.ui-tabs.ui-widget .ui-state-default{
	background:white;
}*/
div.ui-tabs.ui-widget li.ui-state-hover{
	background-color: #F5F5F5;
}
#transaction-closing-details.ui-tabs.ui-widget div.ui-tabs-panel{
	height: 305px;
	overflow-y: auto;
}
/*----------------------------------------------------------------------*/
/* STM Dashboard Tabs
/*----------------------------------------------------------------------*/

#dashboard .widget{
	margin-bottom: 10px;
}
.dashboard-tab-widget div.ui-tabs-panel{
	height: 250px;
	width: 100%;
	overflow-y: auto;
}
.ui-button-panel{
	height: 175px;
	overflow-y: auto;
	clear: both;
}
.ui-button-panel .grid-view{
	padding-top: 0px;
}
.ui-panel-button{
	margin-top: 8px;
	margin-left: 6px;
	bottom: 0px;
}

.ui-tabs.ui-widget .button-container{
	float: right;
}
.ui-tabs.ui-widget .button-container a, .ui-tabs.ui-widget .button-container button, .widget .button-container button{
	float: right;
	margin-right: 10px;
	margin-bottom: 5px;
	color: #333;
}

.dashboard-tab-widget .ui-widget button {
	font-size: 9px;
}