/* Live Search
 /*---------------------------------------------------------------------*/

form#searchform input#search:focus{
	border:0;
	padding:4px 0 3px;
}

ul#searchboxresult{
	margin:0;
	position:absolute;
	overflow:hidden;
	height:auto;
	right:10px;
	top:50px;
	width:250px;
	border-top:1px solid;
	margin:0;
	-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
	display:none;
	z-index:250;
	border-top-color:#e1e1e1;
	-webkit-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.1);
	box-shadow:0px 0px 4px rgba(0, 0, 0, 0.1);
}
ul#searchboxresult li{
}
ul#searchboxresult li a{
	padding:8px;
	font-size:12px;
	display:block;
	border:1px solid;
	border-left:0;
	border-right:0;
	background-repeat:no-repeat;
	background-position:12px 10px;
	display:block;
	overflow:hidden;
	height:50px;
	line-height:17px;
	border-color:#ffffff #f7f7f7 #dddddd #f7f7f7;
	background-color:#f7f7f7;
}
ul#searchboxresult li a:hover{
	text-decoration:none;
	background-color:#f1f1f1;
}
ul#searchboxresult li a.noresult{
	padding:12px;
	height:auto;
	text-align:center;
	font-size:14px;
}
ul#searchboxresult li a img{
	float:left;
	margin-right:6px;
}