/*----------------------------------------------------------------------*/
/* Forms - STM
/*----------------------------------------------------------------------*/
/*input, textarea, select,
.error input, .error textarea, .error select{
	color:#69F;
	font-weight:bold;
	background:white;
}
tr.error, tr.error th{
	background: #F0CCCC !important;
	border-bottom-color: #F0CCCC !important;
	filter: none;
}
input.placeholder, textarea.placeholder{
	font-weight:normal;
}*/
/*div.comboselectbox div.combowrap{
	background:white;
}*/
/*div.selector select{
	height: 32px;
}*/
/*.contact-edit tr{
	min-height:100px;
}*/
/*.email-alert{
	clear:both;
	font-weight:bold;
	color:#333;
	font-size: 13px;
	vertical-align:middle;
	position: relative;
	top:8px;
	padding-bottom:10px;
	display:none;
}
.email-alert-link{
	margin-left:5px;
	font-size: 11px;
}*/
/*.error-icon{
	background-image:url(http://cdn.seizethemarket.com/assets/images/error.png);
	background-repeat:no-repeat;
	padding-left:17px;
}
.add-icon{
	background:none;
	background-image:url(http://cdn.seizethemarket.com/assets/images/add.png);
	background-repeat:no-repeat;
	padding-left:20px;
}
.edit-icon{
	background:none;
	background-image:url(http://cdn.seizethemarket.com/assets/images/edit.png);
	background-repeat:no-repeat;
	padding-left:20px;
}
.delete-icon{
	background:none;
	background-image:url(http://cdn.seizethemarket.com/assets/images/delete.png);
	background-repeat:no-repeat;
	padding-left:20px;
}
.add-field{
	clear:both;
	display:block;
	text-align:left;
	padding:5px 0;
}*/
/*.edit-field{
	display:inlineblock;
	text-align:left;
	padding-left: 10px;
}*/
/*.add-contact-profile{
	text-align:center;
}
.contact-info-edit .add-link a{
	margin-left:0px;
}
.contact-show h1.name{
	position:relative;
	left:-10%
}*/
/*.phone-row, .address-row{
	display:block;
	clear:both;
	height:30px;
	padding-bottom:8px;
}
.address-row{
	height:64px;
}
.phone-row div.selector{
	bottom:1px;
}
#phones-container, #addresses-container{
	padding:0;
}
*/
/*----------------------------------------------------------------------*/
/* Contact/Buyer/Seller Layout - GENEREAL
/*----------------------------------------------------------------------*/
/*.widget > div{
	background:none;
	border:0px;
	padding: 5px 6px 4px 4px;
}
#contacts .widget > h3{
	text-align:center;
}
.widget > div > table{
	margin-bottom:0px;
}*/
/*.borderless .widget, .borderless .widget.loading{
	background:transparent;
}
.borderless .widget, .borderless .widget:hover{
	border:0px;
}
.borderless .widget > div {
	margin:0px;
}
.borderless .widget > div.ui-widget{
	padding:0px;
}
.borderless .ui-widget-header, .borderless .ui-widget-content{
	background:none !important;
	border:0px;
}
.borderless .ui-widget-header{
	border-top-color: transparent !important;
}
.borderless .ui-corner-all{
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
}
.borderless .ui-tabs .ui-tabs-nav li a{
	width:100%;
	padding: .5em 0;
}
.borderless .ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.borderless .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.borderless .ui-tabs .ui-tabs-nav li.ui-state-processing a,
.borderless .ui-state-default a,
.borderless .ui-state-default a:link,
.borderless .ui-state-default a:visited{
	text-align: center;
	width: 100%;
}*/

/*----------------------------------------------------------------------*/
/* Contact/Buyer/Seller Layout - TOP DATA
/*----------------------------------------------------------------------*/
#top-data, #middle-data, #bottom-data{
	clear:both;
	width:100%;
}
#top-data div, #todos, #contact-right, #contact-left{
	float:left;
}
#top-data .contact-info{
	width:70%;
}
#top-data .contact-info-edit{
	width:100%;
}
#top-data .activity-info{
	float:right;
	width:29%;
}

#top-data #contact-widget, #top-data #activity-widget{
	width: 100%;
}
#top-data .contact-info-edit  th{
	padding-top:13px;
	vertical-align:top;
}
#top-data .contact-info-edit  th.middle{
	padding:0px;
	vertical-align:middle;
}
#top-data td{
	vertical-align:middle;
}
#top-data #activity-widget{
	padding-right: 8px;
}
#top-data #activity-data{
	display:inline-table;
	width:98.5%;
}
#top-data #activity-widget > div ul li:hover,
#top-data .widget.number-widget > div ul li a:hover span{
	background-color:#A20000;
	color:white;
	text-decoration:underline;
}
#top-data .activity-info > #activity-widget > div ul {
	overflow: hidden;
	margin-bottom:10px;
}
#top-data .activity-info #activity-widget ul li a{
	text-align:left;
	padding:14px 10px 4px;
}
#top-data .activity-info #activity-widget ul li a span,
#top-data .activity-info #activity-widget ul li a:hover span {
	text-align:right;
	width:40%;
}
#contact-container, #contact-right, #contact-left{
	background: transparent;
	border:none;
}
#contact-container{
	width:98.5%;
	padding:4px;
}
#contact-container th{
	width:110px;
	text-align:right;
	vertical-align:middle;
}
#contact-container th.top-align{
	width:85px;
	text-align:right;
	vertical-align:text-bottom;
	padding-top:11px;
}
#contact-bottom{
	clear:both;
	width:100%;
}
#contact-right, #contact-left{
	min-width: 49.75%;
	max-width: 49.75%;
	width:auto;
	padding:0;
	margin:0;
}
#contact-middle{
	min-width:2px;
	width:.5%;
	max-width:6px;
}
#contact-right table, #contact-left table{
	margin-bottom:4px;
}
#contact-bottom table{
	margin-bottom:0px;
}

/*----------------------------------------------------------------------*/
/* Contact/Buyer/Seller Layout - BOTTOM DATA
/*----------------------------------------------------------------------*/

#logs-left > .widget, #logs-right > .widget{
	float:left;
	width: 48%;
}
#logs-right > .widget{
	float:right;
	margin-right:10px;
}
#logs-left > .widget > .tab > div,
#logs-right > .widget > .tab > div{
	height: 170px;
	overflow-y: scroll;
}

