.freeze {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-bottom: 20px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
}

.freeze-inner {
    margin: 0px 10px;
}

#photos {
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;
}

#photos img {
    width: 100% !important;
    height: auto !important;
}

#photos .image-check {
    position: absolute;
    top: 5px;
    right: 5px;
}

#photos .image {
    /* Just in case there are inline attributes */
    position: relative;
}

#photos .image h4 {
    margin: 1px 1px 4px 1px;
    color: rgba(255, 255, 255, 0.6)
}

#photos .info {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    margin: 0px;
}

#photos .more-info {
    height: 0px;
    overflow: hidden;
}

@media (max-width: 1200px) {
    #photos {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}
@media (max-width: 1000px) {
    #photos {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}
@media (max-width: 800px) {
    #photos {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 400px) {
    #photos {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}