#activity-log-portlet.widget .portlet-content{
/*	max-height: 200px;
	height: 200px;
*/}
#activity-log-portlet.widget .portlet-content .scroll-content-container{
/*	height: 166px;
	overflow-y:auto;
	clear: both;
*/}