#sticky-tasks-widget{
	margin-top: 10px;
	width:177px;
	background-color: #BAC7FF;
	padding: 10px 5px 20px 5px;
	min-height: 180px;
	border: 1px solid #BAC7FF;
/*	-webkit-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
*/}
#sticky-tasks-widget h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: black;
	line-height: 30px;
}
#sticky-tasks-widget #check-icon{
	float: left;
	font-size: 16px;
	position: relative;
	top: -2px;
	left: 5px;
}
#sticky-tasks-widget #check-icon span{
	font-size: 9px;
	position: relative;
	top: -2px;
	left: -2px;
	float: left;
	line-height: 9px;
}
#sticky-tasks-widget .my-tasks-body{

}
#sticky-tasks-widget ul {
	list-style-type: none;
}
#sticky-tasks-widget hr{
	background-color: #8799E6;
	border: 1px solid #8799E6;
	color: #8799E6;
	margin: 0;
	border-top: 0px;
}
/*#sticky-tasks-widget li:before{
	content: '\00BB';
	margin-right:5px;
	font-size: 22px;
	font-weight: bold;
	color: #0021B0;
	text-decoration: none;
	top:2px;
	position: relative;
}*/
#sticky-tasks-widget li{
	margin-left: 0;
	padding: 1px 0 0 5px;
}
#sticky-tasks-widget li:hover{
	background-color: #D7DEFA;
}
#sticky-tasks-widget a{
	text-decoration: underline;
	font-weight: bold;
}
#sticky-tasks-widget .description{
	margin-left: 17px;
}
#sticky-tasks-widget input[type="checkbox"]{
	width: 16px !important;
}
#sticky-tasks-widget .pager ul li a:hover{
	background-color: #4E52F2;
	background-image: none;
	color: white;
	text-shadow: 1px 1px 0 black;
	background-image: -moz-linear-gradient(#BFC1FF, #4E52F2 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#BFC1FF), to(#4E52F2));
	background-image: -o-linear-gradient(#BFC1FF, #4E52F2 100%);
	background-image: -ms-linear-gradient(#BFC1FF, #4E52F2 100%);
	-cp-background-image: linear-gradient(#BFC1FF, #4E52F2 100%);
}